.about {
    margin-top: 5px;
    @include mq(tablet-only) {
        margin-top: 69px;
    }
    @include mq(desktop-only) {
        margin-top: 111px;
    }
}

.about__img {
    margin-bottom: 16px;
    @include mq(tablet-only) {
        margin: 0;
        height: auto;
    
    }

    @include mq(desktop-only) {
        margin: 0;
        height: auto;
       
    }

}

.about__title {
    text-align: center;
    margin-bottom: 8px;

    @include mq(tablet) {
        text-align: left;
        margin-bottom: 16px;
        margin-top: 21px;
    }

    @include mq(desktop) {
        text-align: left;
        font-size: 36px;
        line-height: 1.8;

    }
}

.about-picture {
    @include mq(tablet-only) {
        margin-right: 32px;
        width: calc(100% / 2);
    }
    @include mq(desktop-only) {
      
    }
}

.about__text {
    display: block;
    margin-bottom: 16px;

    @include mq(desktop) {
        font-size: 18px;
    }

}

.hide-text {
    display: none;
    margin-bottom: 16px;

    @include mq(desktop) {
        display: block;
        font-size: 18px;
    }

}

.label {
    display: inline-block;
    font-family: 'Caveat Brush';
    font-size: 18px;
    text-align: center;
    color: $details-color;

    @include mq (desktop) {
        display: none;
    }
}

.input:checked~.hide-text {
    display: block;
}

.less {
    display: none;

}

.input:checked~.label .more {
    display: none;
}

.input:checked~.label .less {
    display: inline;

}

.about-container {
    width: 100%;
    margin: 0 auto;

    @include mq(mobile-only) {
        width: 320px;
        padding-left: 20px;
        padding-right: 21px;
    }

    @include mq(tablet-only) {
        display: flex;
        justify-content: space-between;
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @include mq (desktop) {
        display: flex;
        padding-left: 122px;
        padding-right: 125px;
    }
}

.about-box {
    @include mq(tablet-only) {
        width: calc(100% / 2);
        display: block;
        height: auto;
    }

    @include mq(desktop-only) {
        width: calc(100% / 2);
        max-width: 392px;
        display: block;
        height: auto;
    }

}