.about__img {
    margin-bottom: 16px;
}

.about__title {
    text-align: center;
    margin-bottom: 8px;
}

.about__text {
    display: block;
    margin-bottom: 16px;
}
.hide-text {
    display: none;
}
.label {
    display: inline-block;
    font-family: 'Caveat Brush';
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: $details-color;
}
.input:checked~.hide-text {
    display: block;
}
.less {
    display: none;
    margin-top: 16px;
}
.input:checked~.label .more {
    display: none;
}
.input:checked~.label .less {
    display: inline;
    margin-top: 16px;

}