.bg-images {
    
    background-image: 
        url('../images/bg/bg-up--mobile.svg'),
        url('../images/bg/bg-down--mobile.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top center, bottom 175px right 0px;
    background-size: 100% 13.35%, 100% 39.25%;

                @include mq(tablet) {
                    background-image:
                            url('../images/bg/bg-up--tablet.svg'),
                            url('../images/bg/bg-down--tablet.svg');
                        background-repeat: no-repeat, no-repeat;
                        background-position: top center, bottom center;
                        background-size: 100% 24%, 100% 54%;
                    }

                        @include mq(desktop) {
                            background-image:
                                url('../images/bg/bg-up--desktop.svg'),
                                url('../images/bg/bg-down--desktop.svg');
                            background-repeat: no-repeat, no-repeat;
                            background-position: top center, bottom center;
                            background-size: 100% 29%, 100% 53%;
    
                            }
}