.button {
  font-family: 'Caveat Brush';
  font-size: 18px;

  width: 145px;
  height: 40px;

  margin-top: 32px;
  margin-bottom: 32px;
  border: none;
  border-radius: 25px;
  color: $button-text-color;
  background-color: $details-color;
}