.button {
  font-family: 'Caveat Brush';
  font-size: 18px;

  width: 145px;
  height: 40px;

  margin-top: 32px;
  margin-bottom: 32px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: $button-text-color;
  background-color: $details-color;
  transition: 250ms cubic-bezier(0.17, 0.30, 0.50, 0.80);
  &:hover{
    background-color: $accent-icon-color;
  }
  &:focus{
    background-color: $accent-icon-color;
  }
  &:active {
    background-color: $sec-icons-color;
  }
}