.contact {
  text-align: center;
  & .title {
    margin-top: 32px;
  }
}
.contact__subtitle {
  text-align: center;
  margin-top: 16px;
}
.contact-form {
  & input {
    margin-top: 16px;
    border: 0;
    border-bottom: 1px solid $details-color;
    outline: 0;
    min-width: 280px;
  }
  & input::placeholder {
    color: rgba(171, 129, 108, 0.5);
  }
  & textarea {
    margin-top: 20px;
    border: 0;
    border-bottom: 1px solid $details-color;
    outline: 0;
    resize: none;
    min-width: 280px;
    height: 100%;
  }
  & textarea::placeholder {
    color: rgba(171, 129, 108, 0.5);
  }
}
