.contact {
  text-align: center;
  margin-top: 32px;
}
.contact__subtitle {
  text-align: center;
  margin-top: 16px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  & input {
    border: 0;
    border-bottom: 1px solid $details-color;
    outline: 0;
  }
  & input::placeholder {
    color: rgba(171, 129, 108, 0.5);
  }
  & input {
    @include mq(mobile) {
      min-width: 280px;
    }
    @include mq(tablet-only) {
      min-width: 336px;
    }
    @include mq(desktop) {
      min-width: 394px;
    }
  }
}
.contact-form__email {
  margin-top: 16px;
  &:focus:valid {
    border-color: rgba(0, 128, 0, 0.5);
  }
  &:focus:invalid {
    border-color: rgba(255, 0, 0, 0.5);
  }
}
.contact-form__text {
  margin-top: 20px;
  &:focus:valid {
    border-color: rgba(0, 128, 0, 0.5);
  }
  &:focus:invalid {
    border-color: rgba(255, 0, 0, 0.5);
  }
}
