.contact {
  text-align: center;
  & .title {
    margin-top: 32px;
  }
}
.contact__subtitle {
  text-align: center;
  margin-top: 16px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  & input {
    margin-top: 16px;
    border: 0;
    border-bottom: 1px solid $details-color;
    outline: 0;
  }
  & input::placeholder {
    color: rgba(171, 129, 108, 0.5);
  }
  & textarea {
    margin-top: 20px;
    border: 0;
    border-bottom: 1px solid $details-color;
    outline: 0;
    resize: none;
  }
  & textarea::placeholder {
    color: rgba(171, 129, 108, 0.5);
  }
  & input,
  & textarea {
    @include mq(mobile) {
      min-width: 280px;
    }
    @include mq(tablet-only) {
      min-width: 336px;
    }
    @include mq(desktop) {
      min-width: 394px;
    }
  }
}
