.footer {
  background-image:
    url("../images/mobile/wheat-flour--mobile.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 84px 74px;
  padding-bottom: 20px;

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image:
      url("../images/mobile/wheat-flour--mobile@2x.png");
  }

  @media screen and (min-width: 768px) {

    background-image:
      url("../images/tablet/wheat-flour--tablet.png");
    background-size: 184px 120px;


    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image:
        url("../images/tablet/wheat-flour--tablet@2x.png");
    }
  }

  @media screen and (min-width: 1200px) {
    background-image:
      url("../images/desktop/wheat-flour--desktop.png");
    background-size: 302px 176px;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image:
        url("../images/desktop/wheat-flour--desktop@2x.png");
    }
  }
}


.footer__container {
  position: relative;

}


.adress {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  position: relative;


  @include mq(tablet) {
    margin-right: 61px;
    margin-top: 59px;
  }

  @include mq(desktop) {
    margin-right: 197px;
    margin-top: 80px;
  }



  &__link {
    display: block;
    font-style: normal;
    text-align: right;
    color: $main-text-color;
  }


  &__icon {
    margin-right: 4px;

  }

  &__icon:not(:last-child) {
    margin-left: 63px;

  }
}