.hero__section {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.hero__title {
  font-family: 'Caveat Brush';
  font-size: 30px;
  line-height: 1.27;

  max-width: 224px;
  margin-bottom: 8px;

  color: $main-text-color;
}

.hero__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  color: $main-text-color;
}

.hero__button {
  margin-bottom: 40px;
}