.hero__container {
  position: relative;
  @include mq(desktop) {
    width: 1280px;
    padding-left: 19px;
    padding-right: 19px;
  }
}
.hero__section {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  @include mq(tablet) {
    align-items: flex-start;
    text-align: start;
    padding-top: 15px;
  }
  @include mq(desktop) {
    padding-top: 42px;
  }
}

.hero__title {
  font-family: 'Caveat Brush';
  font-size: 30px;
  line-height: 1.27;
  font-weight: 400;

  max-width: 224px;
  margin-bottom: 8px;

  color: $main-text-color;
  @include mq(mobile-only) {
    z-index: 210;
  }
  @include mq(desktop) {
    max-width: 490px;
    font-size: 64px;
    line-height: 1;
    margin-bottom: 16px;
  }
}

.hero__description {
  font-weight: 500;
  @include mq(desktop) {
    font-size: 24px;
    line-height: 1.2;
  }
}

.hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  @include mq(mobile-only) {
    margin-bottom: 40px;
  }
  @include mq(tablet-only) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @include mq(desktop) {
    width: 158px;
    height: 45px;
    font-size: 24px;
    line-height: 1.25;
  }
}
.donut0{
  pointer-events: none;
position: absolute;
  @include mq(mobile-only) {
    display: none;
  }
  @include mq(tablet) {
    top: -30px;
    right: 120px;
  }
  @include mq(desktop) {
    top: -100px;
  right: 0;
  }
  
  
}
.donut1 {
  position: absolute;
  pointer-events: none;
  z-index: 200;
  @include mq(mobile-only) {
    top: -58px;
    left: -12px;
  }
  @include mq(tablet) {
    top: -13px;
    right: 261px;
  }
  @include mq(desktop) {
    top: -78px;
    right: 255px;
  }
}
.donut2 {
  position: absolute;
  z-index: 199;
  @include mq(mobile-only) {
    top: -50px;
    left: 36px;
  }
  @include mq(tablet-only) {
    top: 8px;
    right: 212px;
  }
  @include mq(desktop) {
    top: -34px;
    right: 154px;
  }
}
.donut3 {
  position: absolute;
  z-index: 198;
  @include mq(mobile-only) {
    top: -14px;
    left: 17px;
  }
  @include mq(tablet-only) {
    top: 95px;
    right: 180px;
  }
  @include mq(desktop) {
    top: 148px;
    right: 86px;
  }
}
.donut4 {
  position: absolute;
  z-index: 197;
  @include mq(mobile-only) {
    top: -3px;
    left: 74px;
  }
  @include mq(tablet-only) {
    top: 133px;
    right: 102px;
  }
  @include mq(desktop) {
    top: 229px;
    right: -77px;
  }
}
.donut5 {
  position: absolute;
  z-index: 196;
  @include mq(mobile-only) {
    top: -82;
    left: 17px;
  }
  @include mq(tablet-only) {
    top: -65px;
    right: 260px;
  }
  @include mq(desktop) {
    top: -187px;
    right: 255px;
  }
}
.donut6 {
  position: absolute;
  z-index: 195;
  @include mq(mobile-only) {
    top: -10px;
    left: 0px;
  }
  @include mq(tablet-only) {
    top: 108px;
    right: 306px;
  }
  @include mq(desktop) {
    top: 176px;
    right: 350px;
  }
}
.donut7 {
  position: absolute;
  z-index: 194;
  @include mq(mobile-only) {
    top: -103px;
    left: 52px;
  }
  @include mq(tablet-only) {
    top: -119px;
    right: 117px;
  }
  @include mq(desktop) {
    top: -301px;
    right: 0px;
  }
}
.donut8 {
  position: absolute;
  z-index: 193;
  @include mq(mobile-only) {
    top: 11px;
    left: -10px;
  }
  @include mq(tablet-only) {
    top: 157px;
    right: 337px;
  }
  @include mq(desktop) {
    top: 279px;
    right: 417px;
  }
}
.hero__spoon {
  position: absolute;
  display: none;
  @include mq(desktop) {
    display: block;
    top: 380px;
    left: -140px;
  }
}
