.program {
    padding-top: 16px;

    @include mq(tablet-only) {
        padding-top: 78px;
    }

    @include mq(desktop) {
        padding-top: 22px;
    }
}

.program__container {
    @include mq(tablet) {
        display: flex;
        justify-content: space-between;
    }
}

.program-description {
    @include mq(tablet) {
        max-width: 320px;
        margin-right: 32px;
    }

    @include mq(desktop) {
        max-width: 392px;
        margin-right: 142px;
    }
}

.program-description__text {
    margin-bottom: 8px;

    @include mq(desktop) {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 1.22;
    }
}

.program-list__item {
    margin-bottom: 8px;
    margin-left: 15px;
    position: relative;

    &>p::before {
        position: absolute;
        content: '>';
        left: -15px;
    }

    @include mq(desktop) {
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 1.22;
    }
}

.program__title {
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    color: #2E2520;
    margin-bottom: 8px;

    @include mq(desktop) {
        font-size: 36px;
        line-height: 1.8;
        text-align: start;
    }
}

.hide-program-text {
    display: none;

    @include mq(desktop) {
        display: block;
        font-size: 18px;
        line-height: 1.22;
    }
}

.program__label {
    display: inline-block;
    font-family: 'Caveat Brush';
    font-size: 18px;
    text-align: center;
    color: $details-color;
    margin: 8px 0px 55px;

    @include mq(desktop) {
        display: none;
    }
}

.program__input:checked~.hide-program-text {
    display: block;
    margin-bottom: 8px;
}

.label__less {
    display: none;
}

.program__input:checked~.program__label .label__more {
    display: none;
}

.program__input:checked~.program__label .label__less {
    display: inline;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.event__circle-type {
    border-radius: 50%;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
    width: 130px;
    height: 130px;
    display: inline-block;
    text-align: center;
    position: relative;

    @include mq(tablet) {
        width: 152px;
        height: 152px;
    }

    @include mq(desktop) {
        width: 180px;
        height: 180px;
    }

    &::before {
        content: '';
        width: 77px;
        height: 80px;
        background-size: contain;
        position: absolute;
        background-repeat: no-repeat;
        top: -33px;
        left: 25px;
        animation: spin 15s linear 0s infinite;

        @include mq(tablet) {
            left: 40px;
        }

        @include mq(desktop) {
            left: 40px;
            top: -45px;
        }

        background-image: url(../../src/images/mobile/donut1--mobile.png);

        @include mq(retina) {
            background-image: url(../../src/images/mobile/donut1--mobile@2x.png);
        }

        @include mq(tablet) {
            width: 82px;
            height: 90px;
            background-image: url(../../src/images/tablet/donut1--tablet.png);
            top: -35px;
            left: 35px;

            @include mq(retina) {
                background-image: url(../../src/images/tablet/donut1--tablet@2x.png);
            }
        }

        @include mq(desktop) {
            width: 97px;
            height: 107px;
            top: -40px;
            left: 40px;
            background-image: url(../../src/images/desktop/donut1--desktop.png);

            @include mq(retina) {
                background-image: url(../../src/images/desktop/donut1--desktop@2x.png);
            }
        }
    }
}

.event__circle-number {
    @extend .event__circle-type;

    &::before {
        width: 75px;
        height: 80px;
        background-image: url(../../src/images/mobile/donut2--mobile.png);


        @include mq(retina) {
            background-image: url(../../src/images/mobile/donut2--mobile@2x.png);
        }

        @include mq(tablet) {
            width: 69px;
            height: 76px;
            background-image: url(../../src/images/tablet/donut2--tablet.png);
            top: -35px;
            left: 40px;

            @include mq(retina) {
                background-image: url(../../src/images/tablet/donut2--tablet@2x.png);
            }
        }

        @include mq(desktop) {
            width: 83px;
            height: 92px;
            background-image: url(../../src/images/desktop/donut2--desktop.png);
            top: -43px;
            left: 48px;

            @include mq(retina) {
                background-image: url(../../src/images/desktop/donut2--desktop@2x.png);
            }
        }
    }
}

.event__circle-time {
    @extend .event__circle-type;

    &::before {
        width: 78px;
        height: 80px;
        background-image: url(../../src/images/mobile/donut3--mobile.png);

        @include mq(retina) {
            background-image: url(../../src/images/mobile/donut3--mobile@2x.png);
        }

        @include mq(tablet) {
            width: 74px;
            height: 82px;
            background-image: url(../../src/images/tablet/donut3--tablet.png);
            top: -35px;
            left: 40px;

            @include mq(retina) {
                background-image: url(../../src/images/tablet/donut3--tablet@2x.png);
            }
        }

        @include mq(desktop) {
            width: 88px;
            height: 97px;
            background-image: url(../../src/images/desktop/donut3--desktop.png);
            top: -45px;
            left: 45px;

            @include mq(retina) {
                background-image: url(../../src/images/desktop/donut3--desktop@2x.png);
            }
        }
    }
}

.event__circle-host {
    @extend .event__circle-type;

    &::before {
        width: 74px;
        height: 80px;
        background-image: url(../../src/images/mobile/donut4--mobile.png);

        @include mq(retina) {
            background-image: url(../../src/images/mobile/donut4--mobile@2x.png);
        }

        @include mq(tablet) {
            width: 70px;
            height: 77px;
            background-image: url(../../src/images/tablet/donut4--tablet.png);
            top: -35px;
            left: 43px;

            @include mq(retina) {
                background-image: url(../../src/images/tablet/donut4--tablet@2x.png);
            }
        }

        @include mq(desktop) {
            width: 83px;
            height: 92px;
            background-image: url(../../src/images/desktop/donut4--desktop.png);
            top: -40px;
            left: 50px;

            @include mq(retina) {
                background-image: url(../../src/images/desktop/donut4--desktop@2x.png);
            }
        }
    }
}

.event__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mq(tablet-only) {
        max-width: 336px;
    }

    @include mq(desktop) {
        max-width: 500px;
    }

}

.event__item {
    &:nth-child(even) {
        margin-top: 60px;

        @include mq(tablet) {

            margin-top: 45px;
        }

        @include mq(desktop) {

            margin-top: 80px;
        }
    }
}

.event__info {
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $sec-text-color;
    margin: 4px 0 8px;

    @include mq(tablet) {
        margin: 5px 0 10px;
    }

    @include mq(desktop) {
        margin: 16px 0 10px;
    }
}

.event__title {
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.27;
    text-align: center;
    color: $sec-text-color;
    margin: 50px 7.5px 0px;

    @include mq(desktop) {
        max-height: 30px;
        font-size: 24px;
        line-height: 1.25;
        margin-top: 60px;
    }
}

.event__icon {
    @include mq(tablet) {
        width: 21px;
        height: 20px;
    }

    @include mq(desktop) {
        width: 24px;
        height: 25px;
    }
}