.registration {
  margin-top: 32px;
  width: 280px;
  border-radius: 150px 150px 0 0;
  background-color: $sec-bg-color;
  text-align: center;
  padding-top: 32px;

  box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
    4px 4px 4px rgba(171, 129, 108, 0.15);
  position: relative;

  @include mq(mobile-only) {
    padding-left: 8px;
    padding-right: 8px;
  }

  & .reg-box__item {
    font-weight: 500;
    line-height: 1.23;
    margin-top: 20px;
  }

  & .mobile {
    font-weight: 400;
    @include mq(desktop) {
      font-size: 18px;
    }
    @include mq(mobile-only) {
      margin-top: 0px;
    }
  }
  & .reg-box-info {
    & .reg-box__item {
      font-size: 18px;
      @include mq(desktop) {
        font-size: 20px;
      }
    }
  }
  @include mq(tablet) {
    width: 100%;
    padding-top: 0;
    margin-top: 40px;
    background: none;
    border-radius: 0;
    box-shadow: none;
    & p {
      text-align: left;
    }
    & .reg-box__item {
      margin-top: 0;
      &:last-child {
        margin-top: 32px;
        font-weight: 500;
      }
    }
    & button {
      margin: auto 60px auto 0px;
    }
    & h2 {
      margin-bottom: 8px;
      @include mq(desktop) {
        margin-bottom: 16px;
      }
    }
  }
  @include mq(desktop) {
    margin-top: 60px;
  }
  .box-title {
    margin-left: auto;
    margin-right: auto;
  }
  .reg-box-inside {
    & .reg-box-apply {
      margin-top: 20px;
      padding-top: 8px;
      border-top: 1px solid rgba(171, 129, 108, 0.5);
    }
    @include mq(tablet) {
      width: 704px;
      height: 260px;
      display: flex;
      border-radius: 150px;
      background-color: $sec-bg-color;
      box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
        4px 4px 4px rgba(171, 129, 108, 0.15);
      text-align: right;
      & p {
        font-weight: 400;
      }
      & .reg-box-info {
        padding: 70px 32px 70px 62px;
        & ul {
          width: 90px;
        }
      }
      & .reg-box-apply {
        margin-top: 40px;
        margin-bottom: 40px;
        max-width: 315px;
        padding-left: 24px;
        border-left: 1px solid rgba(171, 129, 108, 0.5);
        border-top: 0;
        @include mq(tablet) {
          padding-right: 54px;
          margin-right: auto;
          & form {
            display: flex;
            position: relative;
            flex-direction: column;
            & .button {
              position: absolute;
              right: -261px;
              top: 20px;
            }
          }
        }
        @include mq(desktop) {
          & form {
            & .button {
              top: 20px;
              right: -261px;
              margin: auto 60px auto 0;
            }
          }
        }
        & .reg-box__item .mobile {
          @include mq(desktop) {
            font-size: 18px;
          }
        }
      }
    }
    @include mq(desktop) {
      width: 822px;
      height: 260px;
      margin-left: auto;
      margin-right: auto;
      & .reg-box-info {
        padding-left: 107px;
        width: 266px;
        & ul {
          width: 127px;
        }
      }
      & .reg-box-apply {
        padding-left: 32px;
        padding-right: 27px;
        margin-top: 35px;
        margin-bottom: 35px;
        width: 293px;
      }
      & button {
        margin: auto 105px auto 0px;
        width: 158px;
        height: 45px;
      }
    }
  }
  .reg-box__list {
    width: 100%;
    margin-top: 20px;
    background-color: rgba(255, 255, 249, 1);
    border: none;
    border-bottom: 1px solid $details-color;
    outline: 0;
    &::placeholder {
      color: rgba(171, 129, 108, 0.5);
    }
    &:valid {
      border-color: rgba(0, 128, 0, 0.5);
    }
    &:invalid {
      border-color: rgba(255, 0, 0, 0.5);
    }
    @include mq(tablet) {
      margin-top: 16px;
    }
    @include mq(desktop) {
      margin-top: 15px;
    }
  }
  .reg-box__list:placeholder-shown {
    border-bottom: 1px solid $details-color;
  }
}
.reg-box-inside {
  &::before {
    @include mq(tablet) {
      content: '';
      position: absolute;
      width: 196px;
      height: 200px;
      left: -32px;
      top: -47px;
      z-index: -1;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../images/tablet/donut-reg--tablet.png);
      transform: rotate(-11deg);
      @include mq(retina) {
        background-image: url(../images/tablet/donut-reg--tablet@2x.png);
      }
    }
    @include mq(desktop) {
      left: -16px;
      top: 20px;
      width: 250px;
      height: 250px;
      background-image: url(../images/desktop/donut-reg--desktop.png);
      transform: rotate(3deg);
      @include mq(retina) {
        background-image: url(../images/desktop/donut-reg--desktop@2x.png);
      }
    }
  }
  &::after {
    @include mq(tablet) {
      content: '';
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      width: 250px;
      height: 420px;
      top: 80px;
      right: -50px;
      z-index: -1;
      background-image: url(../images/tablet/party-confetti--tablet.png);
      @include mq(retina) {
        background-image: url(../images/tablet/party-confetti--tablet@2x.png);
      }
    }
    @include mq(desktop) {
      width: 500px;
      height: 550px;
      top: 80px;
      right: -100px;
      background-image: url(../images/desktop/party-confetti--desktop.png);
      @include mq(retina) {
        background-image: url(../images/desktop/party-confetti--desktop@2x.png);
      }
    }
  }
}
