.registration {
margin-top: 32px;
width: 280px;
border-radius: 150px 150px 0 0;
background-color: $sec-bg-color;
text-align: center;
padding-top: 32px;
padding-left: 8px;
padding-right: 8px;
box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    & .reg-box__item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.23;
    margin-top: 20px;
        &:last-child {
    font-weight: 400;
        }
    }
    & h2 {
    font-weight: 400;
}
    & .mobile {
        @include mq(mobile-only) {
        margin-top: 0px;
    }
    }
@include mq(tablet) {
    width: 100%;
    padding-top: 0;
    margin-top: 40px;
    background: none;
    border-radius: 0;
    box-shadow: none;
    & p {
        text-align: left;
    }
    & .reg-box__item {
    margin-top: 0;
        &:last-child {
        margin-top: 32px;
        font-weight: 500;
        }
    }
    & button {
        margin: auto 60px auto 0px;
        width: 145px;
        height: 45px;
        padding: 0;
    }
    & h2 {
        margin-bottom: 8px;
        @include mq(desktop) {
            margin-bottom: 16px;
        }
    }
}
@include mq(desktop) {
    margin-top: 60px;
}
.box-title {
margin-left: auto;
margin-right: auto;
}
.reg-box-inside {
    & .reg-box-apply {
    margin-top: 20px;
    padding-top: 8px;
    border-top: 1px solid rgba(171, 129, 108, 0.5);;
    & p {
        font-size: 16px
    }
    }
    @include mq(tablet) {
    width: 704px;
    height: 260px;
    display: flex;
    border-radius: 150px;
    background-color: $sec-bg-color;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    text-align: right;
    & p {
    font-weight: 400;
    }
    & .reg-box-info {
    padding: 70px 32px 70px 62px;
    & ul {
    width: 90px;
    }
    }
    & .reg-box-apply {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 315px;
    padding-left: 24px;
    border-left: 1px solid rgba(171, 129, 108, 0.5);;
    border-top: 0;
        @include mq(tablet-only) {
        padding-right: 54px;
        }
    }
    }
        @include mq(desktop) {
        width: 822px;
        height: 260px;
        margin-left: auto;
        margin-right: auto;
        & .reg-box-info {
        padding-left: 107px;
        width: 266px;
        }
        & .reg-box-apply {
        padding-left: 32px;
        padding-right: 27px;
        margin-top: 35px;
        margin-bottom: 35px;
        width: 293px;
        }
        & button {
        margin: auto 105px auto 0px;
        width: 158px;
        height: 45px;
        }
    }
}
.reg-box__list {
width: 100%; 
margin-top: 20px;
color: rgba(171, 129, 108, 0.5);
background-color: rgba(255, 255, 249, 1);
border: none;
border-bottom: 1px solid #AB816C;
outline: 0;
&::placeholder {
    color: rgba(171, 129, 108, 0.5);
}
&:focus:valid {
    border-color: rgba(0, 128, 0, 0.5);
}
&:focus:invalid {
    border-color: rgba(255, 0, 0, 0.5);
}
@include mq(tablet) {
    margin-top: 16px;
}
@include mq(desktop) {
    margin-top: 15px;
}
}

}
