.reviews {
    @include mq(mobile-only) {
        padding-top: 20px;
        font-size: 24px;
        line-height: 1.25;
    }

    @include mq(tablet) {
        padding-top: 50px;
    }
}

.reviews-title {
    font-size: 24px;
    line-height: 1.25;
    color: $main-text-color;
    margin-bottom: 20px;
    text-align: center;

    @include mq(tablet) {
            margin-bottom: -14px;
        }

    @include mq(desktop) {
        font-size: 36px;
        line-height: 1.81;
    }
}

.slider {
    display: flex;
    justify-content: center;
    
}

.slider-item {
    width: 280px;

    @include mq(tablet) {
            width: 336px;
        }

    @include mq(desktop) {
        width: 394px;
    }
}

.slider-item:not(:last-child) {
    @include mq(tablet) {
            margin-right: 32px;
        }
}

.slider-item__center {
    @include mq(tablet) {
        margin-top: 74px;
    }

    @include mq(desktop) {
        margin-top: 192px;
    }
}

.slider-none {
    @include mq(mobile-only) {
        display: none;
    }

    @include mq(tablet) {
        display: block;
        width: 152px;
        align-self: flex-start;
    }

    @include mq(desktop) {
        width: 288px;
        margin-top: 49px;
    }
}

.star-list {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;

}

.star-list__item:not(:last-child) {
    margin-right: 4px;
}

.slider-item__name {
    font-style: italic;
    font-weight: 500;
    color: $main-text-color;
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;


    @include mq(tablet) {
        margin-bottom: 20px;
    }

    @include mq(desktop) {
        font-size: 16px;
        line-height: 1.25;
    }
}

.container-slider-text1 {
    @include mq(mobile-only) {
        display: block;
    }

    @include mq(tablet) {
        display: none;
    }
}

.container-slider-text2 {
    @include mq(mobile-only) {
        display: none;
    }

    @include mq(tablet) {
        display: block;
    }
}

.slider-item__text {
    text-align: center;
    // margin-bottom: 32px;
    width: 280px;
    font-size: 16px;
    line-height: 1.25;

    @include mq(tablet) {
        width: 704px;
        margin-left: -55%;
    }

    @include mq(desktop) {
        width: 1248px;
        margin-left: -110%;
        font-size: 18px;
        line-height: 1.22;
    }
}

.slider-item__number {
    text-align: center;
    font-size: 14px;
    line-height: 1.21;
    color: $details-color;
    position: relative;

    @include mq(desktop) {
        font-size: 16px;
        line-height: 1.25;
    }
}

.slider-item__number::before {
    content: url(../images/reviews-next.svg);
    position: absolute;
    top: -25%;
    left: 30%;

     @include mq(tablet) {
        top: -25%;
        left: 32.5%;
    }

    @include mq(desktop) {
        top: -25%;
        left: 35%;
    }
}

.slider-item__number::after {
    content: url(../images/reviews-next.svg);
    position: absolute;
    top: -25%;
    right: 30%;

    @include mq(tablet) {
        top: -25%;
        right: 32.5%;
    }

    @include mq(desktop) {
        top: -25%;
        right: 35%;
    }
}

// ----------- SLIDER ----------------------
// ----------- SLIDER ----------------------
// ----------- SLIDER ----------------------
// ----------- SLIDER ----------------------
// ----------- SLIDER ----------------------

.swiper.mySwiper {
    position: relative;
    margin-top: 20px;
    // width: 280px;
    height: 617px;


    @include mq(tablet) {
    margin-top: -9px;
    // width: 704px;
    width: 100%;
    height: 655px;
    }

    @include mq(desktop) {
    margin-top: 56px;
    width: 100%;
        height: 757px;
    }


}

.swiper-slide-active {
    // width: 354px;
    @include mq(tablet) {
            margin-top: 76px;
            // width: 704px;
        }
    
        @include mq(desktop) {
            margin-top: 144px;
            // width: 1031px;
        }
}

.swiper-button-prev:after {
    display: none;
}

.swiper-button-next:after {
    display: none;
}

.swiper-button-prev {
    // position: absolute;
    // top: 100.5%;
    // left: 42%;
    background: url('../images/reviews-next.svg');
    background-repeat: no-repeat;
    width: 35px;
    height: 1px;
    z-index: 20;
}

.swiper-button-next {
    // position: absolute;
    // top: 100.5%;
    // right: 42%;
    background: url('../images/reviews-next.svg');
    background-repeat: no-repeat;
    width: 35px;
    height: 1px;
    z-index: 20;
}


.swiper-slide {
    text-align: center;
    // font-size: 18px;
    

    /* Center slide text vertically */
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: -webkit-flex;
    // display: flex;
    // -webkit-box-pack: center;
    // -ms-flex-pack: center;
    // -webkit-justify-content: center;
    // justify-content: center;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    // -webkit-align-items: center;
    // align-items: center;

        // display: flex;
        // flex-direction: column;
}

.swiper-slide img {
    display: block;
    // width: 280px;
    // height: 100%;
    object-fit: cover;
    margin: 0 auto;

    @include mq(tablet) {
    }

    @include mq(desktop) {
    }
}

.swiper-slide-active img {
    width: 280px;

    @include mq(tablet) {
        width: 336px;
    }
    
    @include mq(desktop) {
        width: 394px;
    }
}

.swiper-slide__text {
    display: none;
    text-align: center;
    // margin-bottom: 32px;
    // width: 280px;
    font-size: 16px;
    line-height: 1.25;

    @include mq(tablet) {
        width: 704px;
        margin-left: -55%;
    }

    @include mq(desktop) {
        width: 1248px;
        margin-left: -110%;
        font-size: 18px;
        line-height: 1.22;
    }
}

.swiper-slide-prev.slider-item__text,
.swiper-slide-next.slider-item__text {
    display: none;
}

.swiper-slide__text1 {
    @include mq(mobile-only) {
        display: block;
    }

    @include mq(tablet) {
        display: none;
    }
}

.swiper-slide__text2 {
    @include mq(mobile-only) {
        display: none;
    }

    @include mq(tablet) {
        display: block;
    }
}

.swiper-slide-active .swiper-slide__text {
    display: block;
    // width: 280px;
}

.swiper-button-next:after {
    content: '';
    background: url('../images/reviews-next.svg');
    width: 35px;
    height: 1px;
    position: absolute;
    top: 380px;
    right: 311px;
}

.swiper-button-prev:after {
    content: '';
    background: url('../images/reviews-next.svg');
        width: 35px;
        height: 1px;
        position: absolute;
        top: 380px;
        left: 311px;
}

.swiper-pagination {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    line-height: 1.21;
    color: $details-color;
}