@import './utils/resets';
@import './utils/vars';
@import './utils/mixin';
@import './utils/common-styles';
@import './about';
@import './button';
@import './contact';
@import './hero';
@import './footer';
@import './header';
@import './program';
@import './reg';
@import './reviews';
@import './socials';
@import './bg-images';
