ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  margin: 0;
  text-decoration: none;
}

body {
  color: #2E2520;
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 767.98px) {
  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1066px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.title {
  font-family: 'Caveat Brush', serif;
  font-size: 24px;
}

.button {
  font-family: 'Caveat Brush';
  font-size: 18px;
  width: 145px;
  height: 40px;
  margin-top: 32px;
  margin-bottom: 32px;
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  background-color: #AB816C;
}

.contact {
  text-align: center;
}

.contact .title {
  margin-top: 32px;
}

.contact__subtitle {
  text-align: center;
  margin-top: 16px;
}

.contact-form input {
  margin-top: 16px;
  border: 0;
  border-bottom: 1px solid #AB816C;
  outline: 0;
  min-width: 280px;
}

.contact-form input::-webkit-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.contact-form input:-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.contact-form input::-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.contact-form input::placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.contact-form textarea {
  margin-top: 20px;
  border: 0;
  border-bottom: 1px solid #AB816C;
  outline: 0;
  resize: none;
  min-width: 280px;
  height: 100%;
}

.contact-form textarea::-webkit-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.contact-form textarea:-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.contact-form textarea::-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.contact-form textarea::placeholder {
  color: rgba(171, 129, 108, 0.5);
}

@media (min-width: 1280px) {
  .hero__container {
    width: 1280px;
    padding-left: 19px;
    padding-right: 19px;
  }
}

.hero__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

@media (min-width: 768px) {
  .hero__section {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: start;
  }
}

.hero__title {
  font-family: 'Caveat Brush';
  font-size: 30px;
  line-height: 1.27;
  max-width: 224px;
  margin-bottom: 8px;
  color: #2E2520;
}

@media (min-width: 1280px) {
  .hero__title {
    max-width: 490px;
    font-size: 64px;
    line-height: 1;
    margin-bottom: 16px;
  }
}

.hero__description {
  font-weight: 500;
}

@media (min-width: 1280px) {
  .hero__description {
    font-size: 24px;
    line-height: 1.2;
  }
}

.hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (max-width: 767.98px) {
  .hero__button {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .hero__button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1280px) {
  .hero__button {
    width: 158px;
    height: 45px;
    font-size: 24px;
    line-height: 1.25;
  }
}

.reg-box {
  margin-top: 32px;
  width: 280px;
  height: 466px;
  border-radius: 150px 150px 0 0;
  background-color: #FFFFF9;
  text-align: center;
  padding-top: 32px;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
          box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
}

.reg-box .reg-box__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.23;
  margin-top: 20px;
}

.reg-box .reg-box__item.border {
  padding-top: 8px;
  border-top: 1px solid rgba(171, 129, 108, 0.5);
}

.reg-box .reg-box__item:last-child {
  font-weight: 400;
}

.reg-box__list {
  width: 100%;
  margin-top: 20px;
  color: rgba(171, 129, 108, 0.5);
  background-color: #fffff9;
  border: none;
  border-bottom: 1px solid #AB816C;
}

.reg-box__list::-webkit-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.reg-box__list:-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.reg-box__list::-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.reg-box__list::placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.reviews {
  padding-top: 20px;
}

.reviews-title {
  font-size: 24px;
  line-height: 1.25;
  color: #2E2520;
  padding-bottom: 20px;
  text-align: center;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-item {
  width: 280px;
}

.slider-item__img {
  padding-bottom: 8px;
}

.star-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 8px;
}

.star-list__item:not(:last-child) {
  margin-right: 4px;
}

.slider-item__name {
  font-style: italic;
  font-weight: 500;
  color: #2E2520;
  text-align: center;
  padding-bottom: 8px;
}

.slider-item__text {
  text-align: center;
  padding-bottom: 32px;
}

.slider-item__number {
  text-align: center;
  font-size: 14px;
  line-height: 1.21;
  color: #AB816C;
}
/*# sourceMappingURL=index.css.map */