ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  margin: 0;
  text-decoration: none;
}

body {
  color: #2E2520;
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

@media (min-width: 1280px) {
  body {
    background-color: #FFFFF9;
  }
}

.container, .menu-button__position {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 767.98px) {
  .container, .menu-button__position {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .container, .menu-button__position {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1280px) {
  .container, .menu-button__position {
    width: 1066px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.title {
  font-family: 'Caveat Brush', serif;
  font-size: 24px;
  font-weight: 400;
}

@media (min-width: 1280px) {
  .title {
    font-size: 36px;
    line-height: 1.8;
  }
}

.img-crop {
  max-width: 100%;
  overflow-x: hidden;
}

.about {
  padding-top: 5px;
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .about {
    padding-top: 69px;
  }
}

@media (min-width: 1280px) {
  .about {
    padding-top: 111px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767.98px) {
  .about__img {
    margin-bottom: 16px;
  }
}

.about__title {
  text-align: center;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .about__title {
    text-align: left;
    margin-top: 21px;
    margin-bottom: 16px;
  }
}

@media (min-width: 1280px) {
  .about__title {
    text-align: left;
    margin-top: 43px;
    margin-bottom: 10px;
  }
}

.about__text {
  display: block;
}

@media (min-width: 1280px) {
  .about__text {
    font-size: 18px;
    line-height: 1.219;
  }
}

.hide-about-text {
  display: none;
  margin-bottom: 16px;
}

@media (min-width: 1280px) {
  .hide-about-text {
    display: block;
    font-size: 18px;
    margin-bottom: 0;
  }
}

.more {
  display: block;
  margin-top: 16px;
}

.label {
  display: inline-block;
  font-family: 'Caveat Brush';
  font-size: 18px;
  text-align: center;
  color: #AB816C;
}

@media (min-width: 1280px) {
  .label {
    display: none;
  }
}

.input:checked ~ .hide-about-text {
  display: block;
}

.less {
  display: none;
}

.input:checked ~ .label .more {
  display: none;
}

.input:checked ~ .label .less {
  display: inline;
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .about-box {
    max-width: 336px;
    display: block;
    height: auto;
  }
}

@media (min-width: 1280px) {
  .about-box {
    max-width: 392px;
    display: block;
    height: auto;
  }
}

.button {
  font-family: 'Caveat Brush';
  font-size: 18px;
  width: 145px;
  height: 40px;
  margin-top: 32px;
  margin-bottom: 32px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #AB816C;
  -webkit-transition: 250ms cubic-bezier(0.17, 0.3, 0.5, 0.8);
  transition: 250ms cubic-bezier(0.17, 0.3, 0.5, 0.8);
}

.button:hover {
  background-color: #876655;
}

.button:focus {
  background-color: #876655;
}

.button:active {
  background-color: #674D40;
}

.contact {
  text-align: center;
  padding-top: 32px;
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .contact {
    padding-top: 78px;
  }
}

@media (min-width: 1280px) {
  .contact {
    padding-top: 160px;
  }
}

.contact__subtitle {
  text-align: center;
  margin-top: 16px;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form input {
  border: 0;
  border-bottom: 1px solid #AB816C;
  outline: 0;
}

.contact-form input::-webkit-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.contact-form input:-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.contact-form input::-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.contact-form input::placeholder {
  color: rgba(171, 129, 108, 0.5);
}

@media (min-width: 320px) {
  .contact-form input {
    min-width: 280px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .contact-form input {
    min-width: 336px;
  }
}

@media (min-width: 1280px) {
  .contact-form input {
    background-color: #FFFFF9;
    min-width: 394px;
  }
}

.contact-form__email {
  margin-top: 16px;
}

.contact-form__email:valid {
  border-color: rgba(0, 128, 0, 0.5);
}

.contact-form__email:invalid {
  border-color: rgba(255, 0, 0, 0.5);
}

.contact-form__email:placeholder-shown {
  border-bottom: 1px solid #AB816C;
}

.contact-form__text {
  margin-top: 20px;
}

.contact-form__text:valid {
  border-color: rgba(0, 128, 0, 0.5);
}

.contact-form__text:invalid {
  border-color: rgba(255, 0, 0, 0.5);
}

.contact-form__text:placeholder-shown {
  border-bottom: 1px solid #AB816C;
}

.hero__container {
  position: relative;
}

@media (min-width: 1280px) {
  .hero__container {
    width: 1280px;
    padding-left: 19px;
    padding-right: 19px;
  }
}

.hero__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

@media (min-width: 768px) {
  .hero__section {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: start;
    padding-top: 15px;
  }
}

@media (min-width: 1280px) {
  .hero__section {
    padding-top: 42px;
  }
}

.hero__title {
  font-family: 'Caveat Brush';
  font-size: 30px;
  line-height: 1.27;
  font-weight: 400;
  max-width: 224px;
  margin-bottom: 8px;
  color: #2E2520;
}

@media (max-width: 767.98px) {
  .hero__title {
    z-index: 210;
  }
}

@media (min-width: 1280px) {
  .hero__title {
    max-width: 490px;
    font-size: 64px;
    line-height: 1;
    margin-bottom: 16px;
  }
}

.hero__description {
  font-weight: 500;
}

@media (min-width: 1280px) {
  .hero__description {
    font-size: 24px;
    line-height: 1.2;
  }
}

.hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (max-width: 767.98px) {
  .hero__button {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .hero__button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1280px) {
  .hero__button {
    width: 158px;
    height: 45px;
    font-size: 24px;
    line-height: 1.25;
  }
}

.donut0 {
  pointer-events: none;
  position: absolute;
}

@media (max-width: 767.98px) {
  .donut0 {
    display: none;
  }
}

@media (min-width: 768px) {
  .donut0 {
    top: -30px;
    right: 120px;
  }
}

@media (min-width: 1280px) {
  .donut0 {
    top: -100px;
    right: 0;
  }
}

.donut1 {
  position: absolute;
  pointer-events: none;
  z-index: 200;
}

@media (max-width: 767.98px) {
  .donut1 {
    top: -58px;
    left: -12px;
  }
}

@media (min-width: 768px) {
  .donut1 {
    top: -13px;
    right: 261px;
  }
}

@media (min-width: 1280px) {
  .donut1 {
    top: -78px;
    right: 255px;
  }
}

.donut2 {
  position: absolute;
  z-index: 199;
}

@media (max-width: 767.98px) {
  .donut2 {
    top: -50px;
    left: 36px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .donut2 {
    top: 8px;
    right: 212px;
  }
}

@media (min-width: 1280px) {
  .donut2 {
    top: -34px;
    right: 154px;
  }
}

.donut3 {
  position: absolute;
  z-index: 198;
}

@media (max-width: 767.98px) {
  .donut3 {
    top: -14px;
    left: 17px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .donut3 {
    top: 95px;
    right: 180px;
  }
}

@media (min-width: 1280px) {
  .donut3 {
    top: 148px;
    right: 86px;
  }
}

.donut4 {
  position: absolute;
  z-index: 197;
}

@media (max-width: 767.98px) {
  .donut4 {
    top: -3px;
    left: 74px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .donut4 {
    top: 133px;
    right: 102px;
  }
}

@media (min-width: 1280px) {
  .donut4 {
    top: 229px;
    right: -77px;
  }
}

.donut5 {
  position: absolute;
  z-index: 196;
}

@media (max-width: 767.98px) {
  .donut5 {
    top: -82;
    left: 17px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .donut5 {
    top: -65px;
    right: 260px;
  }
}

@media (min-width: 1280px) {
  .donut5 {
    top: -187px;
    right: 255px;
  }
}

.donut6 {
  position: absolute;
  z-index: 195;
}

@media (max-width: 767.98px) {
  .donut6 {
    top: -10px;
    left: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .donut6 {
    top: 108px;
    right: 306px;
  }
}

@media (min-width: 1280px) {
  .donut6 {
    top: 176px;
    right: 350px;
  }
}

.donut7 {
  position: absolute;
  z-index: 194;
}

@media (max-width: 767.98px) {
  .donut7 {
    top: -103px;
    left: 52px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .donut7 {
    top: -119px;
    right: 117px;
  }
}

@media (min-width: 1280px) {
  .donut7 {
    top: -301px;
    right: 0px;
  }
}

.donut8 {
  position: absolute;
  z-index: 193;
}

@media (max-width: 767.98px) {
  .donut8 {
    top: 11px;
    left: -10px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .donut8 {
    top: 157px;
    right: 337px;
  }
}

@media (min-width: 1280px) {
  .donut8 {
    top: 279px;
    right: 417px;
  }
}

.hero__spoon {
  position: absolute;
  display: none;
}

@media (min-width: 1280px) {
  .hero__spoon {
    display: block;
    top: 380px;
    left: -140px;
  }
}

.footer {
  padding-bottom: 20px;
}

.footer__container {
  position: relative;
}

.social__icon {
  fill: #2E2520;
  -webkit-transition: 250ms cubic-bezier(0.17, 0.3, 0.5, 0.8);
  transition: 250ms cubic-bezier(0.17, 0.3, 0.5, 0.8);
}

.social__icon:hover {
  fill: #674D40;
}

.social__icon:focus {
  fill: #674D40;
}

.adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

@media (min-width: 768px) {
  .adress {
    margin-right: 61px;
    margin-top: 59px;
  }
}

@media (min-width: 1280px) {
  .adress {
    margin-right: 197px;
    margin-top: 80px;
  }
}

.adress__link {
  display: block;
  font-style: normal;
  text-align: right;
  color: #2E2520;
}

.adress__icon {
  margin-right: 4px;
}

.footer__spoon {
  position: absolute;
  z-index: -1;
}

@media (max-width: 767.98px) {
  .footer__spoon {
    right: -30px;
    bottom: -20px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .footer__spoon {
    right: -21px;
    bottom: -20px;
  }
}

@media (min-width: 1280px) {
  .footer__spoon {
    right: -175px;
    bottom: -20px;
  }
}

.header {
  padding-top: 8px;
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .header {
    padding-top: 36px;
  }
}

@media (min-width: 1280px) {
  .header {
    padding-top: 38px;
  }
}

@media (min-width: 1280px) {
  .logo__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-button__position {
  position: relative;
}

@media (min-width: 1280px) {
  .menu-button__position {
    width: 1280px;
    padding-left: 19px;
    padding-right: 19px;
  }
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 96px;
  height: 44px;
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .logo {
    height: 48px;
  }
}

@media (min-width: 768px) {
  .logo {
    margin-left: 1px;
  }
}

@media (min-width: 1280px) {
  .logo {
    width: 158px;
    height: 81px;
    margin-left: 3px;
    margin-right: 162px;
  }
}

.logo__menu {
  display: block;
  width: 190px;
  height: 85px;
}

@media (min-width: 1280px) {
  .logo__menu {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .menu-container {
    position: fixed;
    z-index: 250;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(254, 243, 228, 0.9);
    padding: 25px 0px 25px 0px;
    -webkit-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
  }
}

.menu-container.is-open {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.menu-button {
  position: absolute;
  z-index: 251;
  top: 8px;
  right: 20px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .menu-button {
    top: 0px;
    right: 32px;
  }
}

@media (min-width: 1280px) {
  .menu-button {
    display: none;
  }
}

.menu-button__icon--size {
  width: 30px;
  height: 16px;
}

.menu-button.is-open .menu-button__icon--size {
  width: 18px;
  height: 18px;
}

.menu-button__icon--close {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button.is-open .menu-button__icon--close {
  display: block;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu-button .menu-button__icon--open {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button.is-open .menu-button__icon--open {
  -webkit-transform: scale(0);
          transform: scale(0);
}

body.mobile-menu__open {
  overflow: hidden;
}

.site-nav {
  margin-top: 40px;
  text-align: center;
}

.site-nav__item:not(:last-child) {
  margin-bottom: 45px;
}

@media (min-width: 1280px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .site-nav__item:not(:last-child) {
    margin: 0 20px 0 0;
  }
}

.menu__link {
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #2E2520;
}

@media (min-width: 1280px) {
  .menu__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 20px 0 20px 0;
  }
}

.menu__link:hover,
.menu__link:focus {
  color: #876655;
}

.menu__link:active,
.menu__link:visited {
  color: #674D40;
}

.program {
  padding-top: 16px;
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .program {
    padding-top: 78px;
  }
}

@media (min-width: 1280px) {
  .program {
    padding-top: 22px;
  }
}

@media (min-width: 768px) {
  .program__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .program-description {
    max-width: 320px;
    margin-right: 32px;
  }
}

@media (min-width: 1280px) {
  .program-description {
    max-width: 392px;
    margin-right: 142px;
  }
}

.program-description__text {
  margin-bottom: 8px;
}

@media (min-width: 1280px) {
  .program-description__text {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.22;
  }
}

.program-list__item {
  margin-bottom: 8px;
  margin-left: 15px;
  position: relative;
}

.program-list__item > p::before {
  position: absolute;
  content: '>';
  left: -15px;
}

@media (min-width: 1280px) {
  .program-list__item {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.22;
  }
}

.program__title {
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  color: #2E2520;
  margin-bottom: 8px;
}

@media (min-width: 1280px) {
  .program__title {
    font-size: 36px;
    line-height: 1.8;
    text-align: start;
  }
}

.hide-program-text {
  display: none;
}

@media (min-width: 1280px) {
  .hide-program-text {
    display: block;
    font-size: 18px;
    line-height: 1.22;
  }
}

.program__label {
  display: inline-block;
  font-family: 'Caveat Brush';
  font-size: 18px;
  text-align: center;
  color: #AB816C;
  margin: 8px 0px 55px;
}

@media (min-width: 1280px) {
  .program__label {
    display: none;
  }
}

.program__input:checked ~ .hide-program-text {
  display: block;
  margin-bottom: 8px;
}

.label__less {
  display: none;
}

.program__input:checked ~ .program__label .label__more {
  display: none;
}

.program__input:checked ~ .program__label .label__less {
  display: inline;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.event__circle-type, .event__circle-number, .event__circle-time, .event__circle-host {
  border-radius: 50%;
  background: #FEF3E4;
  -webkit-box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
          box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
  width: 130px;
  height: 130px;
  display: inline-block;
  text-align: center;
  position: relative;
}

@media (min-width: 768px) {
  .event__circle-type, .event__circle-number, .event__circle-time, .event__circle-host {
    width: 152px;
    height: 152px;
  }
}

@media (min-width: 1280px) {
  .event__circle-type, .event__circle-number, .event__circle-time, .event__circle-host {
    width: 180px;
    height: 180px;
  }
}

.event__circle-type::before, .event__circle-number::before, .event__circle-time::before, .event__circle-host::before {
  content: '';
  width: 77px;
  height: 80px;
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  top: -33px;
  left: 25px;
  -webkit-animation: spin 15s linear 0s infinite;
          animation: spin 15s linear 0s infinite;
  background-image: url(../../src/images/mobile/donut1--mobile.png);
}

@media (min-width: 768px) {
  .event__circle-type::before, .event__circle-number::before, .event__circle-time::before, .event__circle-host::before {
    left: 40px;
  }
}

@media (min-width: 1280px) {
  .event__circle-type::before, .event__circle-number::before, .event__circle-time::before, .event__circle-host::before {
    left: 40px;
    top: -45px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-devile-pixel-ratio: 2), screen and (-o-min-devile-pixel-ratio: 2 / 1), screen and (-webkit-min-devile-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .event__circle-type::before, .event__circle-number::before, .event__circle-time::before, .event__circle-host::before {
    background-image: url(../../src/images/mobile/donut1--mobile@2x.png);
  }
}

@media (min-width: 768px) {
  .event__circle-type::before, .event__circle-number::before, .event__circle-time::before, .event__circle-host::before {
    width: 82px;
    height: 90px;
    background-image: url(../../src/images/tablet/donut1--tablet.png);
    top: -35px;
    left: 35px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-devile-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-devile-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (-webkit-min-devile-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .event__circle-type::before, .event__circle-number::before, .event__circle-time::before, .event__circle-host::before {
    background-image: url(../../src/images/tablet/donut1--tablet@2x.png);
  }
}

@media (min-width: 1280px) {
  .event__circle-type::before, .event__circle-number::before, .event__circle-time::before, .event__circle-host::before {
    width: 97px;
    height: 107px;
    top: -40px;
    left: 40px;
    background-image: url(../../src/images/desktop/donut1--desktop.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-moz-min-devile-pixel-ratio: 2), screen and (min-width: 1280px) and (-o-min-devile-pixel-ratio: 2 / 1), screen and (min-width: 1280px) and (-webkit-min-devile-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .event__circle-type::before, .event__circle-number::before, .event__circle-time::before, .event__circle-host::before {
    background-image: url(../../src/images/desktop/donut1--desktop@2x.png);
  }
}

.event__circle-number::before {
  width: 75px;
  height: 80px;
  background-image: url(../../src/images/mobile/donut2--mobile.png);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-devile-pixel-ratio: 2), screen and (-o-min-devile-pixel-ratio: 2 / 1), screen and (-webkit-min-devile-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .event__circle-number::before {
    background-image: url(../../src/images/mobile/donut2--mobile@2x.png);
  }
}

@media (min-width: 768px) {
  .event__circle-number::before {
    width: 69px;
    height: 76px;
    background-image: url(../../src/images/tablet/donut2--tablet.png);
    top: -35px;
    left: 40px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-devile-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-devile-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (-webkit-min-devile-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .event__circle-number::before {
    background-image: url(../../src/images/tablet/donut2--tablet@2x.png);
  }
}

@media (min-width: 1280px) {
  .event__circle-number::before {
    width: 83px;
    height: 92px;
    background-image: url(../../src/images/desktop/donut2--desktop.png);
    top: -43px;
    left: 48px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-moz-min-devile-pixel-ratio: 2), screen and (min-width: 1280px) and (-o-min-devile-pixel-ratio: 2 / 1), screen and (min-width: 1280px) and (-webkit-min-devile-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .event__circle-number::before {
    background-image: url(../../src/images/desktop/donut2--desktop@2x.png);
  }
}

.event__circle-time::before {
  width: 78px;
  height: 80px;
  background-image: url(../../src/images/mobile/donut3--mobile.png);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-devile-pixel-ratio: 2), screen and (-o-min-devile-pixel-ratio: 2 / 1), screen and (-webkit-min-devile-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .event__circle-time::before {
    background-image: url(../../src/images/mobile/donut3--mobile@2x.png);
  }
}

@media (min-width: 768px) {
  .event__circle-time::before {
    width: 74px;
    height: 82px;
    background-image: url(../../src/images/tablet/donut3--tablet.png);
    top: -35px;
    left: 40px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-devile-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-devile-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (-webkit-min-devile-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .event__circle-time::before {
    background-image: url(../../src/images/tablet/donut3--tablet@2x.png);
  }
}

@media (min-width: 1280px) {
  .event__circle-time::before {
    width: 88px;
    height: 97px;
    background-image: url(../../src/images/desktop/donut3--desktop.png);
    top: -45px;
    left: 45px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-moz-min-devile-pixel-ratio: 2), screen and (min-width: 1280px) and (-o-min-devile-pixel-ratio: 2 / 1), screen and (min-width: 1280px) and (-webkit-min-devile-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .event__circle-time::before {
    background-image: url(../../src/images/desktop/donut3--desktop@2x.png);
  }
}

.event__circle-host::before {
  width: 74px;
  height: 80px;
  background-image: url(../../src/images/mobile/donut4--mobile.png);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-devile-pixel-ratio: 2), screen and (-o-min-devile-pixel-ratio: 2 / 1), screen and (-webkit-min-devile-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .event__circle-host::before {
    background-image: url(../../src/images/mobile/donut4--mobile@2x.png);
  }
}

@media (min-width: 768px) {
  .event__circle-host::before {
    width: 70px;
    height: 77px;
    background-image: url(../../src/images/tablet/donut4--tablet.png);
    top: -35px;
    left: 43px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-devile-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-devile-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (-webkit-min-devile-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .event__circle-host::before {
    background-image: url(../../src/images/tablet/donut4--tablet@2x.png);
  }
}

@media (min-width: 1280px) {
  .event__circle-host::before {
    width: 83px;
    height: 92px;
    background-image: url(../../src/images/desktop/donut4--desktop.png);
    top: -40px;
    left: 50px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-moz-min-devile-pixel-ratio: 2), screen and (min-width: 1280px) and (-o-min-devile-pixel-ratio: 2 / 1), screen and (min-width: 1280px) and (-webkit-min-devile-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .event__circle-host::before {
    background-image: url(../../src/images/desktop/donut4--desktop@2x.png);
  }
}

.event__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .event__container {
    max-width: 336px;
  }
}

@media (min-width: 1280px) {
  .event__container {
    max-width: 500px;
  }
}

.event__item:nth-child(even) {
  margin-top: 60px;
}

@media (min-width: 768px) {
  .event__item:nth-child(even) {
    margin-top: 45px;
  }
}

@media (min-width: 1280px) {
  .event__item:nth-child(even) {
    margin-top: 80px;
  }
}

.event__info {
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin: 4px 0 8px;
}

@media (min-width: 768px) {
  .event__info {
    margin: 5px 0 10px;
  }
}

@media (min-width: 1280px) {
  .event__info {
    margin: 16px 0 10px;
  }
}

.event__title {
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.27;
  text-align: center;
  color: #000000;
  margin: 50px 7.5px 0px;
}

@media (min-width: 1280px) {
  .event__title {
    max-height: 30px;
    font-size: 24px;
    line-height: 1.25;
    margin-top: 60px;
  }
}

@media (min-width: 768px) {
  .event__icon {
    width: 21px;
    height: 20px;
  }
}

@media (min-width: 1280px) {
  .event__icon {
    width: 24px;
    height: 25px;
  }
}

.registration {
  margin-top: 32px;
  width: 280px;
  border-radius: 150px 150px 0 0;
  background-color: #FFFFF9;
  text-align: center;
  padding-top: 32px;
  -webkit-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
          box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  position: relative;
}

@media (max-width: 767.98px) {
  .registration {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.registration .reg-box__item {
  font-weight: 500;
  line-height: 1.23;
  margin-top: 20px;
}

.registration .mobile {
  font-weight: 400;
}

@media (min-width: 1280px) {
  .registration .mobile {
    font-size: 18px;
  }
}

@media (max-width: 767.98px) {
  .registration .mobile {
    margin-top: 0px;
  }
}

.registration .reg-box-info .reg-box__item {
  font-size: 18px;
}

@media (min-width: 1280px) {
  .registration .reg-box-info .reg-box__item {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .registration {
    width: 100%;
    padding-top: 0;
    margin-top: 40px;
    background: none;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .registration p {
    text-align: left;
  }
  .registration .reg-box__item {
    margin-top: 0;
  }
  .registration .reg-box__item:last-child {
    margin-top: 32px;
    font-weight: 500;
  }
  .registration button {
    margin: auto 60px auto 0px;
  }
  .registration h2 {
    margin-bottom: 8px;
  }
}

@media (min-width: 768px) and (min-width: 1280px) {
  .registration h2 {
    margin-bottom: 16px;
  }
}

@media (min-width: 1280px) {
  .registration {
    margin-top: 60px;
  }
}

.registration .box-title {
  margin-left: auto;
  margin-right: auto;
}

.registration .reg-box-inside .reg-box-apply {
  margin-top: 20px;
  padding-top: 8px;
  border-top: 1px solid rgba(171, 129, 108, 0.5);
}

@media (min-width: 768px) {
  .registration .reg-box-inside {
    width: 704px;
    height: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 150px;
    background-color: #FFFFF9;
    -webkit-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
            box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    text-align: right;
  }
  .registration .reg-box-inside p {
    font-weight: 400;
  }
  .registration .reg-box-inside .reg-box-info {
    padding: 70px 32px 70px 62px;
  }
  .registration .reg-box-inside .reg-box-info ul {
    width: 90px;
  }
  .registration .reg-box-inside .reg-box-apply {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 315px;
    padding-left: 24px;
    border-left: 1px solid rgba(171, 129, 108, 0.5);
    border-top: 0;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .registration .reg-box-inside .reg-box-apply {
    padding-right: 54px;
    margin-right: auto;
  }
  .registration .reg-box-inside .reg-box-apply form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .registration .reg-box-inside .reg-box-apply form .button {
    position: absolute;
    right: -261px;
    top: 20px;
  }
}

@media (min-width: 768px) and (min-width: 1280px) {
  .registration .reg-box-inside .reg-box-apply .reg-box__item .mobile {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  .registration .reg-box-inside {
    width: 822px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
  }
  .registration .reg-box-inside .reg-box-info {
    padding-left: 107px;
    width: 266px;
  }
  .registration .reg-box-inside .reg-box-info ul {
    width: 127px;
  }
  .registration .reg-box-inside .reg-box-apply {
    padding-left: 32px;
    padding-right: 27px;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 293px;
  }
  .registration .reg-box-inside button {
    margin: auto 105px auto 0px;
    width: 158px;
    height: 45px;
  }
}

.registration .reg-box__list {
  width: 100%;
  margin-top: 20px;
  background-color: #fffff9;
  border: none;
  border-bottom: 1px solid #AB816C;
  outline: 0;
}

.registration .reg-box__list::-webkit-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.registration .reg-box__list:-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.registration .reg-box__list::-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.registration .reg-box__list::placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.registration .reg-box__list:focus:valid {
  border-color: rgba(0, 128, 0, 0.5);
}

.registration .reg-box__list:focus:invalid {
  border-color: rgba(255, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .registration .reg-box__list {
    margin-top: 16px;
  }
}

@media (min-width: 1280px) {
  .registration .reg-box__list {
    margin-top: 15px;
  }
}

@media (min-width: 768px) {
  .reg-box-inside::before {
    content: '';
    position: absolute;
    width: 196px;
    height: 200px;
    left: -32px;
    top: -47px;
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/tablet/donut-reg--tablet.png);
    -webkit-transform: rotate(-11deg);
            transform: rotate(-11deg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-devile-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-devile-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (-webkit-min-devile-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .reg-box-inside::before {
    background-image: url(../images/tablet/donut-reg--tablet@2x.png);
  }
}

@media (min-width: 1280px) {
  .reg-box-inside::before {
    left: -16px;
    top: 20px;
    width: 250px;
    height: 250px;
    background-image: url(../images/desktop/donut-reg--desktop.png);
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-moz-min-devile-pixel-ratio: 2), screen and (min-width: 1280px) and (-o-min-devile-pixel-ratio: 2 / 1), screen and (min-width: 1280px) and (-webkit-min-devile-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .reg-box-inside::before {
    background-image: url(../images/desktop/donut-reg--desktop@2x.png);
  }
}

@media (min-width: 768px) {
  .reg-box-inside::after {
    content: '';
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 420px;
    top: 80px;
    right: -50px;
    z-index: -1;
    background-image: url(../images/tablet/party-confetti--tablet.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-devile-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-devile-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (-webkit-min-devile-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .reg-box-inside::after {
    background-image: url(../images/tablet/party-confetti--tablet@2x.png);
  }
}

@media (min-width: 1280px) {
  .reg-box-inside::after {
    width: 500px;
    height: 550px;
    top: 80px;
    right: -100px;
    background-image: url(../images/desktop/party-confetti--desktop.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-moz-min-devile-pixel-ratio: 2), screen and (min-width: 1280px) and (-o-min-devile-pixel-ratio: 2 / 1), screen and (min-width: 1280px) and (-webkit-min-devile-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .reg-box-inside::after {
    background-image: url(../images/desktop/party-confetti--desktop@2x.png);
  }
}

@media (max-width: 767.98px) {
  .reviews {
    padding-top: 20px;
    font-size: 24px;
    line-height: 1.25;
  }
}

@media (min-width: 768px) {
  .reviews {
    padding-top: 50px;
  }
}

.reviews-title {
  font-size: 24px;
  line-height: 1.25;
  color: #2E2520;
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .reviews-title {
    margin-bottom: -14px;
  }
}

@media (min-width: 1280px) {
  .reviews-title {
    font-size: 36px;
    line-height: 1.81;
  }
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-item {
  width: 280px;
}

@media (min-width: 768px) {
  .slider-item {
    width: 336px;
  }
}

@media (min-width: 1280px) {
  .slider-item {
    width: 394px;
  }
}

@media (min-width: 768px) {
  .slider-item:not(:last-child) {
    margin-right: 32px;
  }
}

@media (min-width: 768px) {
  .slider-item__center {
    margin-top: 74px;
  }
}

@media (min-width: 1280px) {
  .slider-item__center {
    margin-top: 192px;
  }
}

@media (max-width: 767.98px) {
  .slider-none {
    display: none;
  }
}

@media (min-width: 768px) {
  .slider-none {
    display: block;
    width: 152px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (min-width: 1280px) {
  .slider-none {
    width: 288px;
    margin-top: 49px;
  }
}

.star-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.star-list__item:not(:last-child) {
  margin-right: 4px;
}

.slider-item__name {
  font-style: italic;
  font-weight: 500;
  color: #2E2520;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
}

@media (min-width: 768px) {
  .slider-item__name {
    margin-bottom: 20px;
  }
}

@media (min-width: 1280px) {
  .slider-item__name {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media (max-width: 767.98px) {
  .container-slider-text1 {
    display: block;
  }
}

@media (min-width: 768px) {
  .container-slider-text1 {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .container-slider-text2 {
    display: none;
  }
}

@media (min-width: 768px) {
  .container-slider-text2 {
    display: block;
  }
}

.slider-item__text {
  text-align: center;
  width: 280px;
  font-size: 16px;
  line-height: 1.25;
}

@media (min-width: 768px) {
  .slider-item__text {
    width: 704px;
    margin-left: -55%;
  }
}

@media (min-width: 1280px) {
  .slider-item__text {
    width: 1248px;
    margin-left: -110%;
    font-size: 18px;
    line-height: 1.22;
  }
}

.slider-item__number {
  text-align: center;
  font-size: 14px;
  line-height: 1.21;
  color: #AB816C;
  position: relative;
}

@media (min-width: 1280px) {
  .slider-item__number {
    font-size: 16px;
    line-height: 1.25;
  }
}

.slider-item__number::before {
  content: url(../images/reviews-next.svg);
  position: absolute;
  top: -25%;
  left: 30%;
}

@media (min-width: 768px) {
  .slider-item__number::before {
    top: -25%;
    left: 32.5%;
  }
}

@media (min-width: 1280px) {
  .slider-item__number::before {
    top: -25%;
    left: 35%;
  }
}

.slider-item__number::after {
  content: url(../images/reviews-next.svg);
  position: absolute;
  top: -25%;
  right: 30%;
}

@media (min-width: 768px) {
  .slider-item__number::after {
    top: -25%;
    right: 32.5%;
  }
}

@media (min-width: 1280px) {
  .slider-item__number::after {
    top: -25%;
    right: 35%;
  }
}

.swiper.mySwiper {
  position: relative;
  margin-top: 20px;
  height: 620px;
}

@media (min-width: 768px) {
  .swiper.mySwiper {
    margin-top: -9px;
    height: 658px;
  }
}

@media (min-width: 1280px) {
  .swiper.mySwiper {
    margin-top: 56px;
    height: 757px;
  }
}

@media (min-width: 768px) {
  .swiper-slide-active {
    margin-top: 76px;
  }
}

@media (min-width: 1280px) {
  .swiper-slide-active {
    margin-top: 144px;
  }
}

@media (min-width: 768px) {
  .swiper-slide.swiper-slide-visible.swiper-slide-active {
    width: 336px !important;
  }
}

@media (min-width: 1280px) {
  .swiper-slide.swiper-slide-visible.swiper-slide-active {
    width: 394px !important;
  }
}

@media (min-width: 768px) {
  .swiper-slide.swiper-slide-visible.swiper-slide-prev {
    width: 216px !important;
  }
}

@media (min-width: 1280px) {
  .swiper-slide.swiper-slide-visible.swiper-slide-prev {
    width: 336px !important;
  }
}

@media (min-width: 768px) {
  .swiper-slide.swiper-slide-visible.swiper-slide-next {
    width: 216px !important;
  }
}

@media (min-width: 1280px) {
  .swiper-slide.swiper-slide-visible.swiper-slide-next {
    width: 336px !important;
  }
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
}

.swiper-item__img {
  width: 280px;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .swiper-item__img {
    width: 152px;
  }
}

@media (min-width: 1280px) {
  .swiper-item__img {
    width: 288px;
  }
}

.swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

.swiper-slide-active img {
  width: 280px;
}

@media (min-width: 768px) {
  .swiper-slide-active img {
    width: 336px;
  }
}

@media (min-width: 1280px) {
  .swiper-slide-active img {
    width: 394px;
  }
}

.swiper-slide__text {
  display: none;
  font-size: 16px;
  line-height: 1.25;
}

.swiper-slide-prev.slider-item__text,
.swiper-slide-next.slider-item__text {
  display: none;
}

@media (max-width: 767.98px) {
  .swiper-slide__text1 {
    display: block;
  }
}

@media (min-width: 768px) {
  .swiper-slide__text1 {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .swiper-slide__text2 {
    display: none;
  }
}

@media (min-width: 768px) {
  .swiper-slide__text2 {
    display: block;
  }
}

.swiper-slide-active .swiper-slide__text {
  display: block;
}

@media (min-width: 768px) {
  .swiper-slide-active .swiper-slide__text {
    width: 704px;
    margin-left: -185px;
  }
}

@media (min-width: 1280px) {
  .swiper-slide-active .swiper-slide__text {
    width: 1248px;
    margin-left: -430px;
  }
}

.swiper-button-prev:after {
  display: none;
}

.swiper-button-next:after {
  display: none;
}

.swiper-button-prev.swiper-button-next--position {
  top: 102%;
  left: 30%;
  background: url("../images/reviews-next.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 1px;
  z-index: 20;
}

@media (min-width: 768px) {
  .swiper-button-prev.swiper-button-next--position {
    top: 101.9%;
    left: 42%;
  }
}

@media (min-width: 1280px) {
  .swiper-button-prev.swiper-button-next--position {
    left: 44%;
    top: 101.35%;
  }
}

.swiper-button-next.swiper-button-next--position {
  top: 102%;
  right: 30%;
  background: url("../images/reviews-next.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 1px;
  z-index: 20;
}

@media (min-width: 768px) {
  .swiper-button-next.swiper-button-next--position {
    top: 101.9%;
    right: 42%;
  }
}

@media (min-width: 1280px) {
  .swiper-button-next.swiper-button-next--position {
    right: 44%;
    top: 101.35%;
  }
}

.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal {
  font-size: 14px;
  line-height: 1.21;
  color: #AB816C;
  bottom: 0;
}

@media (min-width: 1280px) {
  .swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal {
    font-size: 16px;
    line-height: 1.25;
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 16px;
}

.social__item:not(:last-child) {
  margin-right: 16px;
}

.social__icon {
  fill: #2E2520;
}

.bg-images {
  background-image: url("../images/bg/bg-up--mobile.svg"), url("../images/bg/bg-down--mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom center;
  background-size: 100% 13.35%, 100% 44.42%;
}

@media (min-width: 768px) {
  .bg-images {
    background-image: url("../images/bg/bg-up--tablet.svg"), url("../images/bg/bg-down--tablet.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top center, bottom center;
    background-size: 100% 24%, 100% 54.75%;
  }
}

@media (min-width: 1280px) {
  .bg-images {
    background-image: url("../images/bg/bg-up--desktop.svg"), url("../images/bg/bg-down--desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top center, bottom center;
    background-size: 100% 29%, 100% 53%;
  }
}
/*# sourceMappingURL=index.css.map */