body {
    color: $main-text-color;
    background-color: $main-bg-color;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    @include mq(desktop) {
        background-color: $sec-bg-color;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    
    @include mq(mobile-only) {
        width: 320px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @include mq(tablet-only) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @include mq (desktop) {
        width: 1066px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.title {
    font-family: 'Caveat Brush', serif;
    font-size: 24px;
    font-weight: 400;
    
    @include mq(desktop) {
            font-size: 36px;
            line-height: 1.8;
        }

}

