$main-bg-color: #FFFFFF;
$sec-bg-color: #FFFFF9;
$accent-color: #FEF3E4;

$details-color: #AB816C;
$main-icons-color: #2E2520;
$sec-icons-color: #674D40;
$accent-icon-color: #876655;

$main-text-color: #2E2520;
$sec-text-color: #000000;
$button-text-color: #FFFFFF;