<section class="contact">
  <div class="conteiner">
    <h2 class="title">Contact</h2>
    <p class="contact__subtitle">We will answer any question!</p>
    <form class="contact-form">
      <label for="email"></label>
      <input type="text" id="email" placeholder="Email" />
      <label for="text"></label>
      <textarea
        name="text"
        id="text"
        rows="1"
        placeholder="Type your question"
      ></textarea>
    </form>
    <button type="button" class="btn--send">Send</button>
  </div>
</section>
