<section class="contact">
  <div class="container">
    <h2 class="title">Contact</h2>
    <p class="contact__subtitle">We will answer any question!</p>
    <form class="contact-form">
      <label for="email"></label>
      <input
        type="text"
        id="email"
        placeholder="Email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      />
      <label for="text"></label>
      <textarea
        name="text"
        id="text"
        rows="1"
        placeholder="Type your question"
      ></textarea>
      <button type="submit" class="button">Send</button>
    </form>
  </div>
</section>
