<footer class="footer">
  <div class="container footer__container">
    <div class="social__container">
      <ul class="social__list">
        <li class="social__item">
          <a
            href="https://twitter.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            aria-label="link to twitter"
          >
            <svg class="social__icon" width="16" height="16">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            aria-label="link to instagram"
          >
            <svg class="social__icon" width="16" height="16">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            aria-label="link to facebook"
          >
            <svg class="social__icon" width="16" height="16">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <address class="adress">
      <a class="adress__link" href="tel:9102228855">
        <svg class="adress__icon" width="13" height="12">
          <use href="./images/icons.svg#icon-phone"></use>
        </svg>
        (910) 222-8855</a
      >
      <a
        class="adress__link"
        href="https://goo.gl/maps/mAcsa2jHbLxyKqYeA"
        target="_blank"
        rel="noopener noreferrer nofollow"
        aria-label="link to google map"
      >
        <svg class="adress__icon" width="11" height="14">
          <use href="./images/icons.svg#icon-location"></use>
        </svg>
        New York</a
      >
    
    </address>
    <picture >
      <source srcset="./images/desktop/wheat-flour--desktop.png 1x, ./images/desktop/wheat-flour--desktop@2x.png 2x" media="(min-width: 1280px)" />
      <source srcset="./images/tablet/wheat-flour--tablet.png 1x, ./images/tablet/wheat-flour--tablet@2x.png 2x" media="(min-width: 768px)" />
      <source srcset="./images/mobile/wheat-flour--mobile.png 1x, ./images/mobile/wheat-flour--mobile@2x.png 2x" media="(max-width: 767px)" />
      <img class="footer__spoon" src="./images/mobile/wheat-flour--mobile.png" alt="">
    </picture>
    
  </div>
  
</footer>
