<!-- Подвал -->
<footer class="footer">
  <div class="container footer__container">
    <div class="social__container">
      <ul class="social__list">
        <li class="social__item">
          <a href="">
            <svg class="social__icon" width="16" height="16">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="">
            <svg class="social__icon" width="16" height="16">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="">
            <svg class="social__icon" width="16" height="16">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <address class="adress">
      <a class="adress__link" href="tel:9102228855">
        <svg class="adress__icon" width="13" height="12">
          <use href="./images/icons.svg#icon-phone"></use>
        </svg>
        (910) 222-8855</a
      >
      <a
        class="adress__link"
        href="https://goo.gl/maps/zy8yuzunggg4TQSd6"
        target="_blank"
      >
        <svg class="adress__icon" width="11" height="14">
          <use href="./images/icons.svg#icon-location"></use>
        </svg>
        New York</a
      >
    </address>
  </div>
  
</footer>
