<!-- Подвал -->
<footer>
  <div class="container">
    <div>
      <ul>
        <li>
          <a href="">
            <svg width="16" height="16">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="16" height="16">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="16" height="16">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div>
      <address>
        <a href="tel:9102228855">
          <svg width="13" height="12">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
          (910) 222-8855</a
        >
        <a href="https://goo.gl/maps/zy8yuzunggg4TQSd6" target="_blank">
          <svg width="11" height="14">
            <use href="./images/icons.svg#icon-location"></use>
          </svg>
          New York</a
        >
      </address>
      <picture>
        <source
          srcset="
            ./images/desktop/wheat-flour--desktop-min.png    1x,
            ./images/desktop/wheat-flour--desktop@2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/tablet/wheat-flour--tablet-min.png    1x,
            ./images/tablet/wheat-flour--tablet@2x-min.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/wheat-flour--mobile-min.png    1x,
            ./images/mobile/wheat-flour--mobile@2x-min.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/mobile/wheat-flour--mobile-min.png"
          alt="Wheat flour 1"
        />
      </picture>
    </div>
  </div>
</footer>
