<header>
    <div class="container">
        
        <a href="">
            <svg>
                <use href="./images/icons.svg#icon-logo"></use>
            </svg>
        </a>

        <button type="button"
                aria-expanded="false"
                aria-controls="menu-container"  
                data-menu-button>
                    <svg
                        aria-label="Переключатель мобильного меню">
                            <use href="./images/icons.svg#icon-menu"></use>
                            <use href="./images/icons.svg#icon-close"></use>
                    </svg>
        </button>
            
        <nav>
            <a href="">
                <svg>
                    <use href="./images/icons.svg#icon-logo"></use>
                </svg>
            </a>

            <ul>
                <li><a href="">About us</a></li>
                <li><a href="">Program</a></li>
                <li><a href="">Reviews</a></li>
                <li><a href="">Contacts</a></li>
            </ul>
        </nav>
       
    </div>
</header>