<header class="header">
    <div class="logo__nav menu-button__position">
                
            <svg class="logo">
                <use href="./images/icons.svg#icon-logo"></use>
            </svg>
        
        <button type="button" class="menu-button"
                aria-expanded="false"
                
                data-menu-button>
                    <svg class="menu-button__icon--size"
                        aria-label="Mobile menu switcher">
                            <use class="menu-button__icon--close" href="./images/icons.svg#icon-close"></use>    
                            <use class="menu-button__icon--open" href="./images/icons.svg#icon-menu"></use>
                    </svg>
        </button>
            
        <nav class="menu-container" data-menu>
            <a href="">
                <svg class="logo__menu">
                    <use href="./images/icons.svg#icon-logo"></use>
                </svg>
            </a>

            <ul class="site-nav">
                <li class="site-nav__item"><a data-goto=".about-box" href="#" class="menu__link">About us</a></li>
                <li class="site-nav__item"><a data-goto=".program" href="#" class="menu__link">Program</a></li>
                <li class="site-nav__item"><a data-goto=".reviews" href="#" class="menu__link">Reviews</a></li>
                <li class="site-nav__item"><a data-goto=".contact" href="#" class="menu__link">Contacts</a></li>
            </ul>
        </nav>
    
    </div>
</header>