<section class="hero">
  <div class="container hero__container">
  <div class="hero__section">
    <h1 class="hero__title">Donut Masterclass with the Donut King</h1>
    <p class="hero__description">Hosted by Eva Green</p>
    <a href="#registration" class="button hero__button">Register</a>
    <div class="social">
      <ul class="social__list">
        <li class="social__item">
          <a
            href="https://twitter.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            aria-label="link to twitter"
          >
            <svg class="social__icon" width="16" height="16">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            aria-label="link to instagram"
          >
            <svg class="social__icon" width="16" height="16">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            aria-label="link to facebook"
          >
            <svg class="social__icon" width="16" height="16">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <img class="hero__spoon"
    srcset="
              ./images/desktop/spoon--desktop.png    1x,
              ./images/desktop/spoon--desktop@2x.png 2x
            "
    src="./images/desktop/spoon--desktop.png" alt="">
  </div>
  <div>
    <ul>
      <li>
        <picture>
          <source
            srcset="
              ./images/hero-donuts/donuts-desktop/1-min.png    1x,
              ./images/hero-donuts/donuts-desktop/1@2x-min.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hero-donuts/donuts-tablet/1-min.png    1x,
              ./images/hero-donuts/donuts-tablet/1@2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hero-donuts/donuts-mobile/1-min.png,
              ./images/hero-donuts/donuts-mobile/1@2x-min.png 2x
            "
            media="(max-width: 767px)"
          />
          <img class="donut1 animate__animated animate__bounceInDown" src="./images/hero-donuts/donuts-mobile/1-min.png" alt="donut" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/hero-donuts/donuts-desktop/2-min.png    1x,
              ./images/hero-donuts/donuts-desktop/2@2x-min.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hero-donuts/donuts-tablet/2-min.png    1x,
              ./images/hero-donuts/donuts-tablet/2@2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hero-donuts/donuts-mobile/2-min.png,
              ./images/hero-donuts/donuts-mobile/2@2x-min.png 2x
            "
            media="(max-width: 767px)"
          />
          <img class="donut2 animate__animated animate__fadeInTopRight" src="./images/hero-donuts/donuts-mobile/2-min.png" alt="donut" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/hero-donuts/donuts-desktop/3-min.png    1x,
              ./images/hero-donuts/donuts-desktop/3@2x-min.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hero-donuts/donuts-tablet/3-min.png    1x,
              ./images/hero-donuts/donuts-tablet/3@2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hero-donuts/donuts-mobile/3-min.png,
              ./images/hero-donuts/donuts-mobile/3@2x-min.png 2x
            "
            media="(max-width: 767px)"
          />
          <img class="donut3 animate__animated animate__zoomIn" src="./images/hero-donuts/donuts-mobile/3-min.png" alt="donut" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/hero-donuts/donuts-desktop/4-min.png    1x,
              ./images/hero-donuts/donuts-desktop/4@2x-min.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hero-donuts/donuts-tablet/4-min.png    1x,
              ./images/hero-donuts/donuts-tablet/4@2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hero-donuts/donuts-mobile/4-min.png,
              ./images/hero-donuts/donuts-mobile/4@2x-min.png 2x
            "
            media="(max-width: 767px)"
          />
          <img class="donut4 animate__animated animate__slideInUp" src="./images/hero-donuts/donuts-mobile/4-min.png" alt="donut" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/hero-donuts/donuts-desktop/5-min.png    1x,
              ./images/hero-donuts/donuts-desktop/5@2x-min.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hero-donuts/donuts-tablet/5-min.png    1x,
              ./images/hero-donuts/donuts-tablet/5@2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hero-donuts/donuts-mobile/5-min.png,
              ./images/hero-donuts/donuts-mobile/5@2x-min.png 2x
            "
            media="(max-width: 767px)"
          />
          <img class="donut5 animate__animated animate__fadeInDown" src="./images/hero-donuts/donuts-mobile/5-min.png" alt="donut" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/hero-donuts/donuts-desktop/6-min.png    1x,
              ./images/hero-donuts/donuts-desktop/6@2x-min.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hero-donuts/donuts-mobile/7-min.png    1x,
              ./images/hero-donuts/donuts-mobile/7@2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hero-donuts/donuts-mobile/6-min.png,
              ./images/hero-donuts/donuts-mobile/6@2x-min.png 2x
            "
            media="(max-width: 767px)"
          />
          <img class="donut6 animate__animated animate__fadeInBottomLeft" src="./images/hero-donuts/donuts-mobile/6-min.png" alt="donut" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/hero-donuts/donuts-desktop/7-min.png    1x,
              ./images/hero-donuts/donuts-desktop/7@2x-min.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hero-donuts/donuts-tablet/7-min.png    1x,
              ./images/hero-donuts/donuts-tablet/7@2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hero-donuts/donuts-mobile/7-min.png,
              ./images/hero-donuts/donuts-mobile/7@2x-min.png 2x
            "
            media="(max-width: 767px)"
          />
          <img class="donut7 animate__animated animate__fadeInBottomRight" src="./images/hero-donuts/donuts-mobile/7-min.png" alt="donut" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/hero-donuts/donuts-desktop/8-min.png    1x,
              ./images/hero-donuts/donuts-desktop/8@2x-min.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hero-donuts/donuts-tablet/8-min.png    1x,
              ./images/hero-donuts/donuts-tablet/8@2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hero-donuts/donuts-mobile/8-min.png,
              ./images/hero-donuts/donuts-mobile/8@2x-min.png 2x
            "
            media="(max-width: 767px)"
          />
          <img class="donut8 animate__animated animate__rotateInDownLeft" src="./images/hero-donuts/donuts-mobile/8-min.png" alt="donut" />
        </picture>
        <li>
           <picture>
          <source
            srcset="
              ./images/hero-donuts/donuts-desktop/pic-desktop@1x-min.png   1x,
              ./images/hero-donuts/donuts-desktop/pic-desktop@2x-min.png 2x
            "
            media="(min-width: 1280px)"
          />
         
          <img class="donut0" src="./images/hero-donuts/donuts-tablet/pic-tablet@1x-min.png" alt="donut" />
        </li>
      </li>
    </ul>
  </div>
</div>
</section>
