<div class="container">
    <div class="reg-box">
        <h2 class="title">Registration</h2>
        <ul>
            <li class="reg-box__item">May 23, 11:00<br>New York</li>
            <li class="reg-box__item">$ 699</li>
            <li class="reg-box__item border">Apply your personal info<br>for registration </li>
        </ul>
    <form>
        <input class="reg-box__list" type="text" placeholder="Your name">
        <input class="reg-box__list" type="tel" placeholder="Phone number">
        <input class="reg-box__list" type="mail" placeholder="Email">
        <button class="button--reg">Register</button>
    </form>
</div>
</div>
