<div class="container">
    <div class="reg-box">
        <h2 class="title">Registration</h2>
    <p class="reg-box__item">May 23, 11:00<br>New York</p>
    <p class="reg-box__item border">$ 699</p>
    <p class="reg-box__item reg-box__item--text">Apply your personal info<br>for registration </p>
    <form>
        <input class="reg-box__list" type="text" placeholder="Your name">
        <input class="reg-box__list" type="tel" placeholder="Phone number">
        <input class="reg-box__list" type="mail" placeholder="Email">
        <button>Register</button>
    </form>
</div>
</div>