<section class="reviews">
    <h2 class="title reviews-title">Reviews</h2>
    <div class="swiper mySwiper container">
        <div class="swiper-wrapper">
            <article class="swiper-slide">
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="./images/desktop/man2--desktop.png 1x, ./images/desktop/man2--desktop@2x.png  2x" />
                        <source media="(min-width: 768px)"
                            srcset="./images/tablet/man2--tablet.png 1x, ./images/tablet/man2--tablet@2x.png 2x" />
                        <img class="slider-item__img" src="./images/desktop/man2--desktop.png" alt="John" />
                    </picture>
                    <ul class="star-list">
                        <li class="star-list__item">
                            <svg style="width: 24px; height: 24px">
                                <use href="./images/icons.svg#icon-star-full"></use>
                            </svg>
                        </li>
                        <li class="star-list__item">
                            <svg style="width: 24px; height: 24px">
                                <use href="./images/icons.svg#icon-star-full"></use>
                            </svg>
                        </li>
                        <li class="star-list__item">
                            <svg style="width: 24px; height: 24px">
                                <use href="./images/icons.svg#icon-star-full"></use>
                            </svg>
                        </li>
                        <li class="star-list__item">
                            <svg style="width: 24px; height: 24px">
                                <use href="./images/icons.svg#icon-star-full"></use>
                            </svg>
                        </li>
                        <li class="star-list__item">
                            <svg style="width: 24px; height: 24px">
                                <use href="./images/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="slider-item__name">John</p>
                    <p class="swiper-slide__text slider-item__text">Last time I have visited a cooking course by Eva
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</p>
            </article>
            <article class="swiper-slide">
                <picture>
                    <source media="(min-width: 1280px)"
                        srcset="./images/desktop/man1--desktop.png 1x, ./images/desktop/man1--desktop@2x.png  2x" />
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/man1--tablet.png 1x, ./images/tablet/man1--tablet@2x.png 2x" />
                    <source media="(max-width: 767px)"
                        srcset="./images/mobile/man1--mobile.png 1x, ./images/mobile/man1--mobile@2x.png 2x" />
                    <img class="slider-item__img" src="./images/desktop/man1--desktop.png" alt="Will" />
                </picture>
                <ul class="star-list">
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                </ul>
                <p class="slider-item__name">Will</p>
                <div class="swiper-slide__text1">
                    <p class="slider-item__text">
                        Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                        kitchen! <br>
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
                        everyone!
                    </p>
                </div>
                <div class="swiper-slide__text2">
                    <p class="slider-item__text">
                        Last time I have visited a cooking course by Eva <br>
                        I was impressed with the way she explained everything <br>
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                        kitchen! <br>
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
                        everyone!
                    </p>
                </div>
            </article>
            <article class="swiper-slide">
                <picture>
                    <source media="(min-width: 1280px)"
                        srcset="./images/desktop/girl1--desktop.png 1x, ./images/desktop/girl1--desktop@2x.png  2x" />
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/girl1--tablet.png 1x, ./images/tablet/girl1--tablet@2x.png 2x" />
                    <img class="slider-item__img" src="./images/desktop/girl1--desktop.png" alt="Elisabeth" />
                </picture>
                <ul class="star-list">
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                </ul>
                <p class="slider-item__name">Elisabeth</p>
                <p class="swiper-slide__text">Last time I have visited a cooking course by Eva
                I was impressed with the way she explained everything
                to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</p>
            </article>
            <article class="swiper-slide">Тут може буди ваша реклама :)</article>
            <article class="swiper-slide">Тут може буди ваша реклама :)</article>
            <article class="swiper-slide">Тут може буди ваша реклама :)</article>
            <article class="swiper-slide">Тут може буди ваша реклама :)</article>
            <article class="swiper-slide">Тут може буди ваша реклама :)</article>
            <article class="swiper-slide">Тут може буди ваша реклама :)</article>
            <article class="swiper-slide">Тут може буди ваша реклама :)</article>
            <article class="swiper-slide">Тут може буди ваша реклама :)</article>
            <article class="swiper-slide">Тут може буди ваша реклама :)</article>
            <article class="swiper-slide">Тут може буди ваша реклама :)</article>
            <article class="swiper-slide">Тут може буди ваша реклама :)</article>
            <article class="swiper-slide">Тут може буди ваша реклама :)</article>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>

<section class="reviews">
    <h2 class="title reviews-title">Reviews</h2>
    <div class="container slider">
        <article class="slider-item slider-none">
            <picture>
                <source media="(min-width: 1280px)"
                    srcset="./images/desktop/man2--desktop.png 1x, ./images/desktop/man2--desktop@2x.png  2x" />
                <source media="(min-width: 768px)"
                    srcset="./images/tablet/man2--tablet.png 1x, ./images/tablet/man2--tablet@2x.png 2x" />
                <img class="slider-item__img" src="./images/desktop/man2--desktop.png" alt="John" />
            </picture>
            <ul class="star-list">
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star"></use>
                    </svg>
                </li>
            </ul>
            <p class="slider-item__name">John</p>
            <!-- <p class="slider-item__text">
                Last time I have visited a cooking course by Eva
                I was impressed with the way she explained everything
                to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                kitchen!
                Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
                everyone!
            </p>
            <p class="slider-item__number">1/15</p> -->
        </article>
        <article class="slider-item slider-item__center">
            <picture>
                <source media="(min-width: 1280px)"
                    srcset="./images/desktop/man1--desktop.png 1x, ./images/desktop/man1--desktop@2x.png  2x" />
                <source media="(min-width: 768px)"
                    srcset="./images/tablet/man1--tablet.png 1x, ./images/tablet/man1--tablet@2x.png 2x" />
                <source media="(max-width: 767px)"
                    srcset="./images/mobile/man1--mobile.png 1x, ./images/mobile/man1--mobile@2x.png 2x" />
                <img class="slider-item__img" src="./images/desktop/man1--desktop.png" alt="Will" />
            </picture>
            <ul class="star-list">
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
            </ul>
            <p class="slider-item__name">Will</p>
            <div class="container-slider-text1">
                <p class="slider-item__text">
                    Last time I have visited a cooking course by Eva
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                    kitchen! <br>
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
                    everyone!
                </p>
            </div>
            <!-- <div class="container-slider-text2">
                <p class="slider-item__text">
                    Last time I have visited a cooking course by Eva <br>
                    I was impressed with the way she explained everything <br>
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first <br> time in the
                    kitchen! <br>
                    Thank you so much for the masterclass! Looking forward to the next one and highly <br> recommend it to
                    everyone!
                </p>
            </div> -->
            <div class="container-slider-text2">
                <p class="slider-item__text">
                    Last time I have visited a cooking course by Eva <br>
                    I was impressed with the way she explained everything <br>
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                    kitchen! <br>
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
                    everyone!
                </p>
            </div>
            <p class="slider-item__number">2/15</p>
        </article>
        <article class="slider-item slider-none">
            <picture>
                <source media="(min-width: 1280px)" 
                srcset="./images/desktop/girl1--desktop.png 1x, ./images/desktop/girl1--desktop@2x.png  2x" />
                <source media="(min-width: 768px)" 
                srcset="./images/tablet/girl1--tablet.png 1x, ./images/tablet/girl1--tablet@2x.png 2x" />
                <img class="slider-item__img" src="./images/desktop/girl1--desktop.png" 
                alt="Elisabeth" />
            </picture>
            <ul class="star-list">
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
            </ul>
            <p class="slider-item__name">Elisabeth</p>
            <!-- <p class="slider-item__text">
                Last time I have visited a cooking course by Eva
                I was impressed with the way she explained everything
                to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                kitchen!
                Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
                everyone!
            </p>
            <p class="slider-item__number">3/15</p> -->
        </article>
    </div>
</section>