<section class="reviews">
    <h2 class="title reviews-title">Reviews</h2>
    <div class="swiper mySwiper container">
        <div class="swiper-wrapper">
            <article class="swiper-slide">
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="./images/desktop/man2--desktop.png 1x, ./images/desktop/man2--desktop@2x.png  2x" />
                        <source media="(min-width: 768px)"
                            srcset="./images/tablet/man2--tablet.png 1x, ./images/tablet/man2--tablet@2x.png 2x" />
                        <img class="swiper-item__img" src="./images/desktop/man2--desktop.png" alt="John" />
                    </picture>
                    <ul class="star-list">
                        <li class="star-list__item">
                            <svg style="width: 24px; height: 24px">
                                <use href="./images/icons.svg#icon-star-full"></use>
                            </svg>
                        </li>
                        <li class="star-list__item">
                            <svg style="width: 24px; height: 24px">
                                <use href="./images/icons.svg#icon-star-full"></use>
                            </svg>
                        </li>
                        <li class="star-list__item">
                            <svg style="width: 24px; height: 24px">
                                <use href="./images/icons.svg#icon-star-full"></use>
                            </svg>
                        </li>
                        <li class="star-list__item">
                            <svg style="width: 24px; height: 24px">
                                <use href="./images/icons.svg#icon-star-full"></use>
                            </svg>
                        </li>
                        <li class="star-list__item">
                            <svg style="width: 24px; height: 24px">
                                <use href="./images/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <h3 class="slider-item__name">John</h3>
                    <p class="swiper-slide__text">Another fun donut workshop! It lasted 2.5 hours. <br> 
                        Coffee and brownies supplied. Instruction provided, <br> 
                        demonstrations clear, plenty of friendly support and guidance.
            </article>
            <article class="swiper-slide">
                <picture>
                    <source media="(min-width: 1280px)"
                        srcset="./images/desktop/man1--desktop.png 1x, ./images/desktop/man1--desktop@2x.png  2x" />
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/man1--tablet.png 1x, ./images/tablet/man1--tablet@2x.png 2x" />
                    <source media="(max-width: 767px)"
                        srcset="./images/mobile/man1--mobile.png 1x, ./images/mobile/man1--mobile@2x.png 2x" />
                    <img class="swiper-item__img" src="./images/desktop/man1--desktop.png" alt="Will" />
                </picture>
                <ul class="star-list">
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="slider-item__name">Will</h3>
                <div class="swiper-slide__text1">
                    <p class="swiper-slide__text">
                        Last time I have visited a cooking <br>
                        course by Eva I was impressed <br>
                        with the way she explained <br>
                        everything to people. You can be <br>
                        sure you will manage to cook a <br>
                        delicious dish even if it is your first <br>
                        time in the kitchen! <br>
                        Thank you so much for the <br>
                        masterclass! Looking forward to <br>
                        the next one and highly <br>
                        recommend it to everyone!
                    </p>
                </div>
                <div class="swiper-slide__text2">
                    <p class="swiper-slide__text">
                        Last time I have visited a cooking course by Eva <br>
                        I was impressed with the way she explained everything <br>
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                        kitchen! <br>
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
                        everyone!
                    </p>
                </div>
            </article>
            <article class="swiper-slide">
                <picture>
                    <source media="(min-width: 1280px)"
                        srcset="./images/desktop/girl1--desktop.png 1x, ./images/desktop/girl1--desktop@2x.png  2x" />
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/girl1--tablet.png 1x, ./images/tablet/girl1--tablet@2x.png 2x" />
                    <img class="swiper-item__img" src="./images/desktop/girl1--desktop.png" alt="Elisabeth" />
                </picture>
                <ul class="star-list">
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="slider-item__name">Elisabeth</h3>
                <p class="swiper-slide__text">The courses give you a real insight into the technique behind baking <br> 
                    and why technique and timing is so important in being able to produce those real artisan bakes. <br> 
                    I was a terrible baker before and now thanks to Donut Masterclass <br> 
                    not only am I able to bake, I am a lot more confident when I’m baking.</p>
            </article>
            <article class="swiper-slide">
                <picture>
                    <source media="(min-width: 1280px)"
                        srcset="./images/slide/desktop/5desktop-min.png 1x, ./images/slide/desktop/5desktop@2x-min.png 2x" />
                    <source media="(min-width: 768px)"
                        srcset="./images/slide/tablet/5tablet-min.png 1x, ./images/slide/tablet/5tablet@2x-min.png 2x" />
                    <source media="(max-width: 767px)"
                        srcset="./images/slide/mobile/5mobile-min.png 1x, ./images/slide/mobile/5mobile@2x-min.png 2x" />
                    <img class="swiper-item__img" src="./images/slide/desktop/5desktop-min.png" alt="Alexander Repeta" />
                </picture>
                <ul class="star-list">
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="slider-item__name">Volodymyr Zelenskyy</h3>
                <p class="swiper-slide__text">
                    Our plan is to de-occupy our entire territory, <br> 
                    and I don’t care what plans the Russian Federation has
            </article>
            <article class="swiper-slide">
                <picture>
                    <source media="(min-width: 1280px)"
                        srcset="./images/slide/desktop/4desktop-min.png 1x, ./images/slide/desktop/4desktop@2x-min.png 2x" />
                    <source media="(min-width: 768px)"
                        srcset="./images/slide/tablet/4tablet-min.png 1x, ./images/slide/tablet/4tablet@2x-min.png 2x" />
                        <source media="(max-width: 767px)"
                            srcset="./images/slide/mobile/4mobile-min.png 1x, ./images/slide/mobile/4mobile@2x-min.png 2x" />
                    <img class="swiper-item__img" src="./images/slide/desktop/4desktop-min.png" alt="Alexander Repeta" />
                </picture>
                <ul class="star-list">
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-gold"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="slider-item__name">Alexander Repeta</h3>
                <p class="swiper-slide__text">
                    Is it a plus? <br>
                    This is a plus!</p>
            </article>
            <article class="swiper-slide">
                <picture>
                    <source media="(min-width: 1280px)"
                        srcset="./images/slide/desktop/2desktop-min.png 1x, ./images/slide/desktop/2desktop@2x-min.png 2x" />
                    <source media="(min-width: 768px)"
                        srcset="./images/slide/tablet/2tablet-min.png 1x, ./images/slide/tablet/2tablet@2x-min.png 2x" />
                    <source media="(max-width: 767px)"
                        srcset="./images/slide/mobile/2mobile-min.png 1x, ./images/slide/mobile/2mobile@2x-min.png 2x" />
                    <img class="swiper-item__img" src="./images/slide/desktop/2desktop-min.png" alt="Alexander Repeta" />
                </picture>
                <ul class="star-list">
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="slider-item__name">Joseph Biden</h3>
                <p class="swiper-slide__text">Tonight, the prayers of the whole world are with the people of Ukraine, <br> who are suffering from an unprovoked and
                unjustified attack by the Russian armed forces. <br> The world will hold Russia accountable.</p>
            </article>
            <article class="swiper-slide">
                <picture>
                    <source media="(min-width: 1280px)"
                        srcset="./images/slide/desktop/3desktop-min.png 1x, ./images/slide/desktop/3desktop@2x-min.png 2x" />
                    <source media="(min-width: 768px)"
                        srcset="./images/slide/tablet/3tablet-min.png 1x, ./images/slide/tablet/3tablet@2x-min.png 2x" />
                    <source media="(max-width: 767px)"
                        srcset="./images/slide/mobile/3mobile-min.png 1x, ./images/slide/mobile/3mobile@2x-min.png 2x" />
                    <img class="swiper-item__img" src="./images/slide/desktop/3desktop-min.png" alt="Alexander Repeta" />
                </picture>
                <ul class="star-list">
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="slider-item__name">Andrzej Duda</h3>
                <p class="swiper-slide__text">It is important to talk about the restoration of Ukraine. <br> 
                    To restore, we need to unite our friends.  <br> 
                    I see Poland as one of the leaders in the Ukrainian reconstruction program.
            </p>
            </article>
            <article class="swiper-slide">
                <picture>
                    <source media="(min-width: 1280px)"
                        srcset="./images/slide/desktop/6desktop-min.png 1x, ./images/slide/desktop/6desktop@2x-min.png 2x" />
                    <source media="(min-width: 768px)"
                        srcset="./images/slide/tablet/6tablet-min.png 1x, ./images/slide/tablet/6tablet@2x-min.png 2x" />
                    <source media="(max-width: 767px)"
                        srcset="./images/slide/mobile/6mobile-min.png 1x, ./images/slide/mobile/6mobile@2x-min.png 2x" />
                    <img class="swiper-item__img" src="./images/slide/desktop/6desktop-min.png" alt="Alexander Repeta" />
                </picture>
                <ul class="star-list">
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                    <li class="star-list__item">
                        <svg style="width: 24px; height: 24px">
                            <use href="./images/icons.svg#icon-star-full"></use>
                        </svg>
                    </li>
                </ul>
                <h3 class="slider-item__name">Boris Johnson</h3>
                <p class="swiper-slide__text">We will continue to supply Ukraine, like your other friends, <br>
                    with weapons, funds and humanitarian aid until we achieve our long-term goal. <br> 
                    We must strengthen Ukraine in such a way that no one will ever dare to attack you again.
                </p>
            </article>
            <!-- <article class="swiper-slide"><div class="swiper-circle"></div>To be continued</article>
            <article class="swiper-slide"><div class="swiper-circle"></div>To be continued</article>
            <article class="swiper-slide"><div class="swiper-circle"></div>To be continued</article>
            <article class="swiper-slide"><div class="swiper-circle"></div>To be continued</article>
            <article class="swiper-slide"><div class="swiper-circle"></div>To be continued</article>
            <article class="swiper-slide"><div class="swiper-circle"></div>To be continued</article>
            <article class="swiper-slide"><div class="swiper-circle"></div>To be continued</article> -->
        </div>
        <div class="swiper-button-next swiper-button-next--position"></div>
        <div class="swiper-button-prev swiper-button-next--position"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>


<!-- STATIC REVIEWS -->

<!-- <section class="reviews">
    <h2 class="title reviews-title">Reviews</h2>
    <div class="container slider">
        <article class="slider-item slider-none">
            <picture>
                <source media="(min-width: 1280px)"
                    srcset="./images/desktop/man2--desktop.png 1x, ./images/desktop/man2--desktop@2x.png  2x" />
                <source media="(min-width: 768px)"
                    srcset="./images/tablet/man2--tablet.png 1x, ./images/tablet/man2--tablet@2x.png 2x" />
                <img class="slider-item__img" src="./images/desktop/man2--desktop.png" alt="John" />
            </picture>
            <ul class="star-list">
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star"></use>
                    </svg>
                </li>
            </ul>
            <p class="slider-item__name">John</p>
        </article>
        <article class="slider-item slider-item__center">
            <picture>
                <source media="(min-width: 1280px)"
                    srcset="./images/desktop/man1--desktop.png 1x, ./images/desktop/man1--desktop@2x.png  2x" />
                <source media="(min-width: 768px)"
                    srcset="./images/tablet/man1--tablet.png 1x, ./images/tablet/man1--tablet@2x.png 2x" />
                <source media="(max-width: 767px)"
                    srcset="./images/mobile/man1--mobile.png 1x, ./images/mobile/man1--mobile@2x.png 2x" />
                <img class="slider-item__img" src="./images/desktop/man1--desktop.png" alt="Will" />
            </picture>
            <ul class="star-list">
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
            </ul>
            <p class="slider-item__name">Will</p>
            <div class="container-slider-text1">
                <p class="slider-item__text">
                    Last time I have visited a cooking course by Eva
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                    kitchen! <br>
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
                    everyone!
                </p>
            </div>
            <div class="container-slider-text2">
                <p class="slider-item__text">
                    Last time I have visited a cooking course by Eva <br>
                    I was impressed with the way she explained everything <br>
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                    kitchen! <br>
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
                    everyone!
                </p>
            </div>
            <p class="slider-item__number">2/15</p>
        </article>
        <article class="slider-item slider-none">
            <picture>
                <source media="(min-width: 1280px)" 
                srcset="./images/desktop/girl1--desktop.png 1x, ./images/desktop/girl1--desktop@2x.png  2x" />
                <source media="(min-width: 768px)" 
                srcset="./images/tablet/girl1--tablet.png 1x, ./images/tablet/girl1--tablet@2x.png 2x" />
                <img class="slider-item__img" src="./images/desktop/girl1--desktop.png" 
                alt="Elisabeth" />
            </picture>
            <ul class="star-list">
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
                <li class="star-list__item">
                    <svg style="width: 24px; height: 24px">
                        <use href="./images/icons.svg#icon-star-full"></use>
                    </svg>
                </li>
            </ul>
            <p class="slider-item__name">Elisabeth</p>
        </article>
    </div>
</section> -->