<section class="reviews">
    <h2 class="title">Reviews</h2>
    <div class="container slider">
        <article class="slider-item">
            <img class="slider-item__img" src="./images/tablet/man2--tablet.png" alt="" width="280" />
            <p class="slider-item__text">
                Last time I have visited a cooking course by Eva
                I was impressed with the way she explained everything
                to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                kitchen!
                Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
                everyone!
            </p>
            <p class="slider-item__number">2/15</p>
        </article>
        <article class="slider-item">
            <img class="slider-item__img" src="./images/desktop/man1--desktop.png" alt="" width="280" />
            <p class="slider-item__text">
                Last time I have visited a cooking course by Eva I was impressed with the way she
                explained everything to people. You can be sure you will manage to cook a delicious dish
                even if it is your first time in the kitchen! Thank you so much for the masterclass!
                Looking forward to the next one and highly recommend it to everyone!
            </p>
            <p class="slider-item__number">3/15</p>
        </article>
        <article class="slider-item">
            <img class="slider-item__img" src="./images/desktop/girl1--desktop.png" alt="" width="280" />
            <p class="slider-item__text">
                Last time I have visited a cooking course by Eva I was impressed with the way she
                explained everything to people. You can be sure you will manage to cook a delicious dish
                even if it is your first time in the kitchen! Thank you so much for the masterclass!
                Looking forward to the next one and highly recommend it to everyone!
            </p>
            <p class="slider-item__number">1/15</p>
        </article>
    </div>
</section>